<header>
  <div class="container">
    <div class="menu-icon" (click)="isMobileNavOpen()">
      <mat-icon fontIcon="menu" *ngIf="!showMobileNav"></mat-icon>
      <mat-icon fontIcon="close" *ngIf="showMobileNav"></mat-icon>
    </div>
    <div class="logo" routerLink="/">
      <mat-icon class="material-icons-outlined">school</mat-icon>
      <div>Edu<span>cate</span></div>
    </div>

    <div class="links" [class.links-active]="showMobileNav">
      <div class="line"></div>
      <div class="link" routerLink="">Home</div>
      <div class="link" routerLink="/about">About Educate</div>
      <div class="link" routerLink="/courses">Courses</div>
      <div class="link" routerLink="/contact">Contact Us</div>
      <div class="link" routerLink="/educatelife">Life at Educate</div>
      <button id="apply-mobile" *ngIf="showMobileNav">Apply now</button>
    </div>
    <div class="nav-actions">
      <button id="apply" routerLink="/apply">Apply now</button>
      <div id="login" (click)="showLoginDialog()">Login</div>
    </div>
  </div>
</header>
