<div class="container">
  <div class="card">
    <div class="card-header">
      <p class="title">Create New Password</p>
    </div>
    <div class="image-container">
      <img src="../../../../../assets/images/person.png" alt="person" />
    </div>
    <div class="card-content">
      <p>
        Enter your new password. It must be different from your previous
        password.
      </p>
    </div>
    <div class="password-input-container">
      <label class="input-label">Password</label>
      <input pInputText class="password-input" type="text" />
    </div>
    <div class="password-input-container">
      <label class="input-label">Confirm Password</label>
      <input pInputText class="password-input" type="text" />
    </div>
    <div class="button-container">
      <button type="submit" class="button-submit">Create New Password</button>
    </div>
  </div>
</div>
