@import "../../../../../variables.scss";

.container-1 {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 5rem 1.5rem 0;
}

.container-2 {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 1.5rem 0;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 1rem;
}
