<main>
  <div class="table">
    <div class="table-header">
      <button class="add" (click)="onClickAdd()">ADD</button>
      <div class="filter">
        <p-dropdown
          [options]="types"
          placeholder="Select a type"
          appendTo="body"
          [style]="{ width: '16rem' }"
          class="types"
        ></p-dropdown>
        <div class="search-container">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            class="search"
            [style]="{
              width: '16rem',
              paddingLeft: '2.5rem'
            }"
            (ngModelChange)="searchFilter($event)"
            [(ngModel)]="search"
          />
        </div>
      </div>
    </div>
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="subjectCode">
        <th mat-header-cell *matHeaderCellDef>Subject Code</th>
        <td mat-cell *matCellDef="let element">{{ element.subjectCode }}</td>
      </ng-container>

      <ng-container matColumnDef="subjectTitle">
        <th mat-header-cell *matHeaderCellDef>Subject Title</th>
        <td mat-cell *matCellDef="let element">{{ element.subjectTitle }}</td>
      </ng-container>

      <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef>Units</th>
        <td mat-cell *matCellDef="let element">{{ element.units }}</td>
      </ng-container>

      <ng-container matColumnDef="preRequisites">
        <th mat-header-cell *matHeaderCellDef>Prerequisites</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let item of element.preRequisites"
            >{{ item.subjectTitle }}<br
          /></ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <div class="{{ element.activeDeactive ? 'active' : 'inactive' }}">
            {{ element.activeDeactive ? "Active" : "Inactive" }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="table-actions">
            <button class="table-action edit" (click)="onClickEdit(element)">
              <mat-icon class="material-icons-outlined">edit</mat-icon>
            </button>
            <button
              class="table-action {{
                !element.activeDeactive ? 'activate' : 'deactive'
              }}"
              (click)="onClickRemove(element)"
            >
              <mat-icon class="material-icons-outlined">block</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</main>
<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">{{ title }}</div>
  </p-header>
  <form [formGroup]="courseForm" (ngSubmit)="onClickSave()">
    <div class="form-group">
      <div class="input-group">
        <label>Subject Code</label>
        <input
          pInputText
          formControlName="subjectCode"
          placeholder="Subject Code"
        />
        <div
          *ngIf="
            subjectCode.invalid && (subjectCode?.dirty || subjectCode?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="subjectCode?.errors?.['required']"
            >Subject Code is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Subject Title</label>
        <input
          pInputText
          formControlName="subjectTitle"
          placeholder="Subject Title"
        />
        <div
          *ngIf="
            subjectTitle.invalid &&
            (subjectTitle?.dirty || subjectTitle?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="subjectTitle?.errors?.['required']"
            >Subject title is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Units</label>
        <input
          pInputText
          type="number"
          formControlName="units"
          placeholder="Units"
        />
        <div *ngIf="units.invalid && (units?.dirty || units?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="units?.errors?.['required']"
            >Number of units is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Pre Requisites</label>
        <p-multiSelect
          [options]="preRequisitesSelection"
          optionLabel="name"
          optionValue="name"
          placeholder="Select Prerequisites"
          appendTo="body"
          formControlName="preRequisites"
          [style]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
      <div class="input-group">
        <label>Type</label>
        <p-dropdown
          [options]="types"
          placeholder="Select a type"
          appendTo="body"
          [style]="{ width: '100%' }"
          formControlName="type"
        ></p-dropdown>
        <div *ngIf="type.invalid && (type?.dirty || type?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="type?.errors?.['required']"
            >Type is required</small
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="action-btn cancel" (click)="onClickCancel()">
        Cancel
      </button>
      <button type="submit" class="action-btn submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  <div class="modal-body">
    Are you sure you want to
    {{ !status ? "activate" : "deactivate" }} this subject?
  </div>
  <div class="actions">
    <button class="action-btn cancel">Cancel</button>
    <button class="action-btn submit" (click)="onDeleteSubject()">Yes</button>
  </div>
</p-dialog>
