<main>
  <div class="table">
    <p-table
      #dt
      [value]="subjects"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['subjectTitle', 'subjectCode', 'type']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <button class="add" (click)="onClickAdd()">ADD</button>
          <span [style]="{ position: 'relative' }">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              [style]="{
                width: '18rem',
                paddingLeft: '2.5rem'
              }"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Program</th>
          <th style="width: 10%">Subject Code</th>
          <th style="width: 19%">Subject Title</th>
          <th style="width: 10%">Units</th>
          <th style="width: 19%">Prerequisites</th>
          <th style="width: 10%">Type</th>
          <th style="width: 10%">Status</th>
          <th style="width: 12%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sub>
        <tr>
          <td>{{ sub.programCode }}</td>
          <td>{{ sub.subjectCode }}</td>
          <td>{{ sub.subjectTitle }}</td>
          <td>{{ sub.units }}</td>
          <td>{{ sub.preRequisites }}</td>
          <td>{{ sub.type }}</td>
          <td>
            <div class="{{ sub.activeDeactive ? 'active' : 'inactive' }}">
              {{ sub.activeDeactive ? "Active" : "Inactive" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button class="table-action edit" (click)="onClickEdit(sub)">
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Edit program"
                  >edit</mat-icon
                >
                <span>Edit</span>
              </button>
              <button
                class="table-action {{
                  !sub.activeDeactive ? 'activate' : 'deactive'
                }}"
                (click)="onClickRemove(sub)"
              >
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Remove program"
                  >block</mat-icon
                >
                <span>{{
                  !sub.activeDeactive ? "Activate" : "Deactivate"
                }}</span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">{{ title }}</div>
  </p-header>
  <form [formGroup]="courseForm" (ngSubmit)="onClickSave()">
    <div class="form-group">
      <div class="input-group">
        <label>Program</label>
        <p-dropdown
          [options]="programs"
          [style]="{ width: '100%' }"
          placeholder="Select a program"
          formControlName="programTitle"
        ></p-dropdown>
        <div
          *ngIf="
            (buttonClicked && courseForm.get('programTitle')?.invalid) ||
            courseForm.get('programTitle')?.dirty
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="courseForm.get('programTitle')?.errors?.['required']"
            >Please choose a program</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Subject Code</label>
        <input
          pInputText
          formControlName="subjectCode"
          placeholder="Subject Code"
        />
        <div
          *ngIf="
            (buttonClicked && courseForm.get('subjectCode')?.invalid) ||
            courseForm.get('subjectCode')?.dirty
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="courseForm.get('subjectCode')?.errors?.['required']"
            >Subject code is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Subject Title</label>
        <input
          pInputText
          formControlName="subjectTitle"
          placeholder="Subject Title"
        />
        <div
          *ngIf="
            (buttonClicked && courseForm.get('subjectTitle')?.invalid) ||
            courseForm.get('subjectTitle')?.dirty
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="courseForm.get('subjectTitle')?.errors?.['required']"
            >Subject title is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Units</label>
        <input
          pInputText
          type="number"
          formControlName="units"
          placeholder="Units"
        />
        <div
          *ngIf="
            (buttonClicked && courseForm.get('units')?.invalid) ||
            courseForm.get('units')?.dirty
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="courseForm.get('units')?.errors?.['required']"
            >Units is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Pre Requisites</label>
        <p-chips
          formControlName="preRequisites"
          placeholder="Prerequisites"
        ></p-chips>
      </div>
      <div class="input-group">
        <label>Type</label>
        <p-dropdown
          [options]="types"
          placeholder="Select a type"
          appendTo="body"
          [style]="{ width: '100%' }"
          formControlName="type"
        ></p-dropdown>
        <div
          *ngIf="
            (buttonClicked && courseForm.get('type')?.invalid) ||
            courseForm.get('type')?.dirty
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="courseForm.get('type')?.errors?.['required']"
            >Type is required</small
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="action-btn cancel" (click)="onClickCancel()">
        Cancel
      </button>
      <button type="submit" class="action-btn submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to
  {{ !status ? "activate" : "deactivate" }} this subject?
  <div class="actions">
    <button class="action-btn cancel">Cancel</button>
    <button class="action-btn submit" (click)="onDeleteSubject()">Yes</button>
  </div>
</p-dialog>
