<main>
  <div class="table">
    <div class="table-header">
      <div class="btn-container">
        <button class="request" title="Add Subject" (click)="onAdd()">
          <span class="material-symbols-rounded table-header-icon"> add </span>
        </button>
        <button class="reset" title="Reset" (click)="reset()">
          <span class="material-symbols-rounded table-header-icon">
            restart_alt
          </span>
        </button>
      </div>
      <div class="filter">
        <p-dropdown
          [options]="types"
          placeholder="Filter by type"
          appendTo="body"
          [style]="{ width: '100%' }"
          [(ngModel)]="typeSelected"
          (ngModelChange)="onChangeType($event)"
        ></p-dropdown>
        <div class="search-container">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            [style]="{
              width: '100%',
              minWidth: '16rem',
              paddingLeft: '2.5rem'
            }"
            placeholder="Search"
            [(ngModel)]="search"
            (ngModelChange)="onChangeSearch($event)"
          />
        </div>
      </div>
    </div>
    <p-table
      [value]="subjects"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 12%">Subject Code</th>
          <th style="width: 20%">Subject Title</th>
          <th style="width: 12%">Units</th>
          <th style="width: 20%">Prerequisites</th>
          <th style="width: 12%">Type</th>
          <th style="width: 12%">Status</th>
          <th style="width: 12%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sub>
        <tr>
          <td>{{ sub.subjectCode }}</td>
          <td>{{ sub.subjectTitle }}</td>
          <td>{{ sub.units }}</td>
          <td>
            <ng-container *ngFor="let item of sub.preRequisites"
              >{{ item.subjectTitle }}<br
            /></ng-container>
          </td>
          <td>
            <div
              class="type {{
                sub.type == 'Major'
                  ? 'major'
                  : sub.type == 'Minor'
                  ? 'minor'
                  : 'elective'
              }}"
            >
              {{ sub.type }}
            </div>
          </td>
          <td>
            <div class="{{ sub.activeDeactive ? 'active' : 'inactive' }}">
              {{ sub.activeDeactive ? "Active" : "Inactive" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button
                class="table-action edit"
                (click)="onClickEdit(sub)"
                title="Edit"
              >
                <span class="material-symbols-rounded"> edit </span>
              </button>
              <button
                title="{{ !sub.activeDeactive ? 'Activate' : 'Deactive' }}"
                class="table-action {{
                  !sub.activeDeactive ? 'activate' : 'deactive'
                }}"
                (click)="onRemove(sub)"
              >
                <span class="material-symbols-rounded"> block </span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">{{ title }}</div>
  </p-header>
  <form [formGroup]="courseForm" (ngSubmit)="onClickSave()">
    <div class="form-group">
      <div class="input-group">
        <label>Subject Code</label>
        <input
          pInputText
          formControlName="subjectCode"
          placeholder="Subject Code"
        />
        <div
          *ngIf="
            subjectCode.invalid && (subjectCode?.dirty || subjectCode?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="subjectCode?.errors?.['required']"
            >Subject Code is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Subject Title</label>
        <input
          pInputText
          formControlName="subjectTitle"
          placeholder="Subject Title"
        />
        <div
          *ngIf="
            subjectTitle.invalid &&
            (subjectTitle?.dirty || subjectTitle?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="subjectTitle?.errors?.['required']"
            >Subject title is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Units</label>
        <input
          pInputText
          type="number"
          formControlName="units"
          placeholder="Units"
          min="1"
        />
        <div *ngIf="units.invalid && (units?.dirty || units?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="units?.errors?.['required']"
            >Number of units is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="units?.errors?.['negative']"
            >Number of units cannot be less than 1</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Pre Requisites</label>
        <p-multiSelect
          [options]="preRequisitesSelection"
          optionLabel="name"
          optionValue="name"
          placeholder="Select Prerequisites"
          appendTo="body"
          formControlName="preRequisites"
          [style]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
      <div class="input-group">
        <label>Type</label>
        <p-dropdown
          [options]="types"
          placeholder="Select a type"
          appendTo="body"
          [style]="{ width: '100%' }"
          formControlName="type"
        ></p-dropdown>
        <div *ngIf="type.invalid && (type?.dirty || type?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="type?.errors?.['required']"
            >Type is required</small
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="action-btn cancel" (click)="onClickCancel()">
        Cancel
      </button>
      <button type="submit" class="action-btn submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  <div class="modal-body">
    Are you sure you want to {{ !status ? "activate" : "deactivate" }} this
    subject?
  </div>
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteSubject()">Yes</button>
  </div>
</p-dialog>
