<app-header></app-header>
<div class="container">
  <div class="title-container">
    <p class="title">LIFE AT Educate</p>
    <!-- <mat-icon class="material-icons-outlined">school</mat-icon>
    <span>Educate</span> -->
  </div>
  <div class="card">
    <div class="card-image">
      <img
        src="https://sportshub.cbsistatic.com/i/r/2019/06/25/858a7655-c070-43cf-aa8e-59ceb294b65b/thumbnail/1200x675/c2ed53fe925520b64bd195ad0fcd2d8f/giannis-award.jpg"
        alt=""
      />
    </div>
    <div class="card-content">
      <div class="card-title">
        <p class="title">
          Educate student athlete Gianiss Antetounkumpo MVP at MPBL
        </p>
        <p class="content">
          Proud student of Educate made it as the MVP of MPBL S5. "It's an honor
          to bring the gold for this university" Giannis said.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img
        src="https://sportshub.cbsistatic.com/i/r/2019/06/25/858a7655-c070-43cf-aa8e-59ceb294b65b/thumbnail/1200x675/c2ed53fe925520b64bd195ad0fcd2d8f/giannis-award.jpg"
        alt=""
      />
    </div>
    <div class="card-content">
      <div class="card-title">
        <p class="title">
          Educate student athlete Gianiss Antetounkumpo MVP at MPBL
        </p>
        <p class="content">
          Proud student of Educate made it as the MVP of MPBL S5. "It's an honor
          to bring the gold for this university" Giannis said.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img
        src="https://sportshub.cbsistatic.com/i/r/2019/06/25/858a7655-c070-43cf-aa8e-59ceb294b65b/thumbnail/1200x675/c2ed53fe925520b64bd195ad0fcd2d8f/giannis-award.jpg"
        alt=""
      />
    </div>
    <div class="card-content">
      <div class="card-title">
        <p class="title">
          Educate student athlete Gianiss Antetounkumpo MVP at MPBL
        </p>
        <p class="content">
          Proud student of Educate made it as the MVP of MPBL S5. "It's an honor
          to bring the gold for this university" Giannis said.
        </p>
      </div>
    </div>
  </div>
</div>
