<app-header></app-header>
<div class="wrapper">
  <div class="box box1">
    <div class="bg-img img1">
      <img
        src="https://png.pngtree.com/png-vector/20230112/ourmid/pngtree-acoustic-guitar-png-image_6560263.png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="img-container">
        <img src="../../../../../assets/images/act1.jpg" alt="" />
      </div>
      <div class="content">
        <div class="content-title">Join our Music Club!</div>
        <div class="sub-content">
          From the moment you cross the threshold, you'll be immersed in a
          symphony of sounds, rhythms, and melodies that will awaken your senses
          and lift your spirits. The air is filled with laughter, camaraderie,
          and the electric energy of passionate musicians and music lovers
          coming together. Whether you're a seasoned performer or a curious
          beginner, the club's inclusive and welcoming atmosphere ensures that
          everyone feels like an integral part of the musical journey. Join our
          music club, and you'll discover a haven where your passion for music
          will flourish, your horizons will expand, and the joy of making music
          will fill your heart with a symphony of happiness. Come and experience
          the magic of our music club, where every beat and every note
          contribute to a harmonious and enjoyful journey of musical discovery.
        </div>
      </div>
    </div>
  </div>
  <div class="box box2">
    <div class="bg-img img2">
      <img
        src="https://png.pngtree.com/png-clipart/20220709/ourmid/pngtree-book-stack-multiple-books-png-image_5836805.png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="content">
        <div class="content-title">Join our Book Club!</div>
        <div>
          Join us in this enjoyful adventure of literary exploration, where each
          new book becomes a ticket to worlds unknown and a passport to the
          richness of human experiences. Together, let's embark on a journey
          that celebrates the power of words to ignite our imagination, provoke
          our thoughts, and fill our hearts with the sheer delight of being part
          of a book club that celebrates the wonders of literature.As we turn
          the pages together, we forge lasting connections and cherished
          friendships with like-minded individuals who share our passion for the
          written word. The book club is not just a place for intellectual
          growth but also a space for heartwarming camaraderie, where stories
          are not just confined to the pages of a book, but become part of the
          shared narrative of our lives.
        </div>
      </div>
      <div class="img-container">
        <img src="../../../../../assets/images/act2.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="box box3">
    <div class="bg-img img3">
      <img
        src="https://png.pngtree.com/png-vector/20221001/ourmid/pngtree-drama-mask-png-image_6250397.png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="img-container">
        <img src="../../../../../assets/images/act3.jpg" alt="" />
      </div>
      <div class="content">
        <div class="content-title">Join our Drama Club!</div>
        <div>
          Join our drama club, and you'll unlock a world of imagination,
          creativity, and personal growth. Whether you're a seasoned thespian or
          a newcomer eager to explore the magic of theater, our drama club
          promises an enjoyful journey that will kindle your passion, boost your
          confidence, and reveal the extraordinary performer within you. Come,
          and let's create unforgettable stories together on the stage of our
          drama club. Step into the spotlight and experience the enchanting
          world of our drama club, where creativity knows no bounds and the joy
          of performing takes center stage. In our drama club, you'll find a
          haven for self-expression, a place where the magic of theater comes
          alive, and unforgettable moments are born.
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
