<div class="container">
  <div class="card">
    <div class="card-header">
      <p class="title">Forgot Password</p>
    </div>
    <div class="image-container">
      <img src="../../../../../assets/images/person.png" alt="person" />
    </div>
    <div class="card-content">
      <p>
        Please enter the verification code that was sent to your email address
      </p>
    </div>
    <div class="otp-input-container">
      <input
        pInputText
        #txt1
        [(ngModel)]="input1"
        (ngModelChange)="onChangeInput1($event)"
        class="otp-input"
        type="text"
        maxlength="6"
      />
    </div>
    <div class="resend-container">
      <span
        >Didn't receive an OTP?
        <a href="" (click)="resendOTP()"> Resend </a></span
      >
    </div>
    <div class="button-container">
      <button
        type="submit"
        class="button-otp"
        routerLink="/forgot-password/reset-password"
      >
        Submit
      </button>
    </div>
  </div>
</div>
