@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  padding: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: clamp(1.5rem, 1.4024rem + 0.4878vw, 1.75rem);
  font-weight: 300;
  color: var(--primary);
}

.bar-chart {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
}
