<div class="card">
  <div class="card-header"><p class="title">Add Curriculum</p></div>
  <div class="card-content">
    <form>
      <div class="form-group">
        <div class="input-group">
          <label>Term</label>
          <p-dropdown
            [options]="terms"
            optionLabel="name"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          <small [style]="{ color: 'var(--red)' }">Choose Term.</small>
        </div>
        <div class="input-group">
          <label>Year Level</label>
          <p-dropdown
            [options]="levels"
            optionLabel="name"
            [style]="{ width: '100%' }"
          ></p-dropdown>
          <small [style]="{ color: 'var(--red)' }">Choose Year Level.</small>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label>Program</label>
          <input pInputText />
          <small [style]="{ color: 'var(--red)' }">Enter Program.</small>
        </div>
        <div class="input-group">
          <label>Subject</label>
          <input pInputText />
          <small [style]="{ color: 'var(--red)' }">Enter Subject.</small>
        </div>
      </div>
      <div class="button-group">
        <button type="submit">Add</button>
        <button type="button" id="clear">Clear</button>
      </div>
    </form>
  </div>
</div>
