<main>
  <p-tabView>
    <p-tabPanel header="Pending Applications">
      <div class="table">
        <p-table
          #dt
          [value]="applications"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
          [globalFilterFields]="['firstname', 'middlename', 'lastname']"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              <span [style]="{ position: 'relative' }">
                <i class="pi pi-search"></i>
                <input
                  type="text"
                  pInputText
                  placeholder="Search"
                  [style]="{
                    width: '16rem',
                    paddingLeft: '2.5rem'
                  }"
                  (input)="
                    dt.filterGlobal($any($event.target).value, 'contains')
                  "
                  placeholder="Search"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 30%">Name</th>
              <th style="width: 15%">Email</th>
              <th style="width: 15%">Enrollment Status</th>
              <th style="width: 20%">Application Date</th>
              <th style="width: 20%">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-application>
            <tr>
              <td>
                {{ application.firstname }} {{ application.middlename }}
                {{ application.lastname }}
              </td>
              <td>{{ application.email }}</td>
              <td>
                <div class="inactive">
                  {{ application.status == false ? "Pending" : "Enrolled" }}
                </div>
              </td>
              <td>{{ application.applicationDate }}</td>
              <td>
                <div class="table-actions">
                  <button
                    class="table-action activate"
                    (click)="onEditApplication(application)"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      pTooltip="Approve application"
                      >thumb_up</mat-icon
                    >
                  </button>
                  <button
                    class="table-action deactive"
                    (click)="onDeleteApplication(application)"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      pTooltip="Disapprove application"
                      >thumb_down</mat-icon
                    >
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Enrolled Students">
      <div class="table">
        <p-table
          #dt1
          [value]="students"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
          [globalFilterFields]="[
            'firstname',
            'middlename',
            'lastname',
            'program.programCode'
          ]"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              <span [style]="{ position: 'relative' }">
                <i class="pi pi-search"></i>
                <input
                  type="text"
                  pInputText
                  placeholder="Search"
                  [style]="{
                    width: '16rem',
                    paddingLeft: '2.5rem'
                  }"
                  (input)="
                    dt1.filterGlobal($any($event.target).value, 'contains')
                  "
                  placeholder="Search"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 20%">Name</th>
              <th style="width: 10%">Program</th>
              <th style="width: 15%">Year Level</th>
              <th style="width: 10%">Status</th>
              <th style="width: 20%">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-student>
            <tr>
              <td>
                {{ student.firstname }} {{ student.middlename }}
                {{ student.lastname }}
              </td>
              <td>{{ student.program.programCode }}</td>
              <td>{{ student.yearLevel }}</td>
              <td>
                <div
                  class="{{ student.activeDeactive ? 'active' : 'inactive' }}"
                >
                  {{ student.activeDeactive ? "Active" : "Inactive" }}
                </div>
              </td>
              <td>
                <div class="table-actions">
                  <button
                    class="table-action edit"
                    title="Set as pending enrollee"
                    (click)="onClickRemove(student)"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      pTooltip="Set as pending enrollee"
                      >cancel</mat-icon
                    >
                    <span>Remove</span>
                  </button>
                  <button
                    class="table-action {{
                      !student.activeDeactive ? 'activate' : 'deactive'
                    }}"
                    (click)="onClickActive(student)"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      pTooltip="Remove program"
                      >block</mat-icon
                    >
                    <span>{{
                      !student.activeDeactive ? "Activate" : "Deactivate"
                    }}</span>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</main>
<p-dialog
  [(visible)]="isRemoveDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to remove this student from the list of enrolled
  students?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onRemoveStudent()">Yes</button>
  </div>
</p-dialog>
<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to
  {{ status ? "activate" : "deactivate" }} this student?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteStudent()">Yes</button>
  </div>
</p-dialog>
<p-dialog
  [(visible)]="isConfirmDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  {{ confirmTitle }} this student application?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onClickConfirm()">Yes</button>
  </div>
</p-dialog>
