<main>
  <div class="table">
    <div class="table-header">
      <button class="btn-border" (click)="onClickAdd()">ADD</button>
      <span [style]="{ position: 'relative' }">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [style]="{
            width: '18rem',
            paddingLeft: '2.5rem'
          }"
        />
      </span>
    </div>
    <p-table
      [value]="programs"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Program Code</th>
          <th style="width: 25%">Program Title</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-program>
        <tr>
          <td>{{ program.progCode }}</td>
          <td>{{ program.progTitle }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Add Program</div>
  </p-header>
  <form>
    <div class="form-group">
      <div class="input-group">
        <label>Program Code</label>
        <input pInputText />
        <small [style]="{ color: 'var(--red)' }">Enter Program Code.</small>
      </div>
      <div class="input-group">
        <label>Program Title</label>
        <input pInputText />
        <small [style]="{ color: 'var(--red)' }">Enter Program Title.</small>
      </div>
    </div>
    <div class="button-group">
      <button type="button" class="cancel" (click)="onClickCancel()">
        Cancel
      </button>
      <button type="submit" class="save">Save</button>
    </div>
  </form>
</p-dialog>
