<main>
  <div class="table">
    <div class="table-header">
      <div class="btn-container">
        <button class="request" title="Add Subject" (click)="onAdd()">
          <span class="material-symbols-rounded table-header-icon"> add </span>
        </button>
        <button class="reset" title="Reset" (click)="reset()">
          <span class="material-symbols-rounded table-header-icon">
            restart_alt
          </span>
        </button>
      </div>
      <div class="filter">
        <p-dropdown
          [options]="years"
          placeholder="Filter by year"
          appendTo="body"
          [style]="{ width: '100%' }"
          [(ngModel)]="yearSelected"
          (ngModelChange)="onChangeYear($event)"
        ></p-dropdown>
        <div class="search-container">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            [style]="{
              width: '100%',
              paddingLeft: '2.5rem'
            }"
            placeholder="Search"
            [(ngModel)]="search"
            (ngModelChange)="onChangeSearch($event)"
          />
        </div>
      </div>
    </div>
    <p-table
      [value]="programs"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 12%">Program Code</th>
          <th style="min-width: 52%">Program Title</th>
          <th style="min-width: 12%">Years to Complete</th>
          <th style="min-width: 12%">Status</th>
          <th style="min-width: 12%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-program>
        <tr>
          <td>{{ program.programCode }}</td>
          <td>{{ program.programTitle }}</td>
          <td>{{ program.yearsToComplete }}</td>
          <td>
            <div class="{{ program.status ? 'active' : 'inactive' }}">
              {{ program.status ? "Active" : "Inactive" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button
                title="Edit"
                class="table-action edit"
                (click)="onClickEdit(program)"
              >
                <span class="material-symbols-rounded"> edit </span>
              </button>
              <button
                title="{{ !program.status ? 'Activate' : 'Deactivate' }}"
                class="table-action {{
                  !program.status ? 'activate' : 'deactive'
                }}"
                (click)="onRemove(program)"
              >
                <span class="material-symbols-rounded"> block </span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '100%', maxWidth: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">{{ title }}</div>
  </p-header>
  <form [formGroup]="programForm" (ngSubmit)="onClickSave()">
    <div class="form-group">
      <div class="input-group">
        <label>Program Code</label>
        <input
          pInputText
          formControlName="programCode"
          placeholder="Program Code"
        />
        <div
          *ngIf="
            programCode.invalid && (programCode?.dirty || programCode?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="programCode?.errors?.['required']"
            >Program code is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Program Title</label>
        <input
          pInputText
          formControlName="programTitle"
          placeholder="Program Title"
        />
        <div
          *ngIf="
            programTitle.invalid &&
            (programTitle?.dirty || programTitle?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="programTitle?.errors?.['required']"
            >Program title is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Years to Complete</label>
        <p-dropdown
          [options]="years"
          placeholder="Select years to complete"
          formControlName="yearsToComplete"
          appendTo="body"
          [style]="{ width: '100%' }"
        ></p-dropdown>
        <div
          *ngIf="
            yearsToComplete?.invalid &&
            (yearsToComplete?.dirty || yearsToComplete?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="yearsToComplete?.errors?.['required']"
            >Please select years to complete</small
          >
        </div>
      </div>
      <div class="fg">
        <div
          class="input-group"
          formArrayName="units"
          *ngFor="let unit of units.controls; let i = index"
        >
          <label class="{{ i % 2 != 0 ? 'd-none' : '' }}"
            >{{
              i == 0
                ? "First Year"
                : i == 2
                ? "Second Year"
                : i == 4
                ? "Third Year"
                : i == 6
                ? "Fourth Year"
                : ""
            }}
            Units to Complete</label
          >
          <div class="ig">
            <label>{{
              i % 2 == 0 ? "First Term Units" : "Second Term Units"
            }}</label>
            <input
              pInputText
              placeholder="{{
                i % 2 == 0 ? 'First term' : 'Second term'
              }} units"
              [formControlName]="i"
            />
          </div>
          <div *ngIf="units?.invalid && (units?.dirty || units?.touched)">
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="units?.errors?.['required']"
              >Units is required</small
            >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="units?.errors?.['minUnitsArray']"
              >Units should be greater than 1</small
            >
          </div>
        </div>
      </div>
      <div class="input-group">
        <label>Major Subject</label>
        <p-multiSelect
          [options]="majorSubjects"
          optionLabel="name"
          optionValue="name"
          placeholder="Select major subject/s"
          appendTo="body"
          formControlName="majors"
          [style]="{ width: '100%' }"
        ></p-multiSelect>
      </div>
      <div class="input-group">
        <label>Minor Subject</label>
        <p-multiSelect
          [options]="minorSubjects"
          optionLabel="name"
          optionValue="name"
          placeholder="Select minor subject/s"
          appendTo="body"
          [style]="{ width: '100%' }"
          formControlName="minors"
        ></p-multiSelect>
      </div>
      <div class="input-group">
        <label>Elective Subject</label>
        <p-multiSelect
          [options]="electiveSubjects"
          optionLabel="name"
          optionValue="name"
          placeholder="Select elective subject/s"
          appendTo="body"
          [style]="{ width: '100%' }"
          formControlName="electives"
        ></p-multiSelect>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="action-btn cancel" (click)="onClickCancel()">
        Cancel
      </button>
      <button type="submit" class="action-btn submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  <div class="modal-body">
    Are you sure you want to {{ !status ? "activate" : "deactivate" }} this
    subject?
  </div>
  <div class="actions">
    <button class="action-btn cancel" (click)="onCancelDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteProgram()">
      Confirm
    </button>
  </div>
</p-dialog>
