@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.table {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--white);
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
}

tr td {
  text-align: center;
}

h2 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.edit mat-icon {
  color: var(--very-dark-saturated-blue);
}

.edit:hover {
  cursor: pointer;
}

.remove mat-icon {
  color: red;
}

.remove:hover {
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.875rem;
}

.button-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.save {
  width: 6rem;
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  padding: 0.5rem;
}

.save:hover,
.save:focus {
  background-color: var(--darker-primary);
  cursor: pointer;
}

.cancel {
  border: 2px solid var(--primary);
  background-color: transparent;
  width: 6rem;
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--very-dark-saturated-blue);
  padding: 0.5rem;
}

.cancel:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.btn-border {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2.75rem;
  color: var(--white);
  background-color: var(--primary);
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

.btn-border:hover,
.btn-border:focus {
  background-color: var(--darker-primary);
}

#clear {
  background-color: var(--red);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.pi-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.modal-title {
  font-size: clamp(1.125rem, 0.8811rem + 1.2195vw, 1.75rem);
  font-weight: 400;
}
/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }

  button {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }

  .form-group {
    grid-template-columns: repeat(1, 1fr);
  }
}
