@import "../../../../../variables.scss";

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.main-container {
  width: 100%;
}

/* ========== SIDEBAR ========== */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  display: block;
  color: var(--very-dark-blue);
  transform: translateX(0);
  transition: width 300ms ease-in-out;
  overflow: hidden;
}

.logo {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--very-dark-saturated-blue);
}

nav {
  height: calc(100vh - 4rem);
  position: relative;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 01rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.link-active {
  background-color: var(--primary);
  color: var(--white);
}

.link-active mat-icon {
  color: var(--white);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* ========== MOBILE NAV ========== */
.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  z-index: 999;
}

.close-icon {
  position: absolute;
  top: 1.75rem;
  right: 2.5rem;
  cursor: pointer;
}

.mobile-link-active {
  color: var(--primary);
}

.close-dropdown-mobile {
  transform: translateX(0);
}

/* ========== HEADER ========== */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
  z-index: 100;
  background-color: var(--white);
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.location-icon {
  font-size: 1.75rem;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.left-nav,
.profile,
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.location {
  font-size: 1.5rem;
  color: var(--very-dark-saturated-blue);
}

.notif,
.avatar {
  position: relative;
}

.notification-container {
  position: absolute;
  top: 175%;
  left: -100%;
  width: 19rem;
  max-height: 0;
  border-radius: 0.25rem;
  background-color: var(--white);
  transition: max-height 200ms ease-in;
  overflow-y: auto;
  z-index: 999;
}

.notification-container::-webkit-scrollbar {
  width: 0.25rem;
}

.notification-container::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.notification-container::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.notifs {
  display: flex;
  flex-direction: column;
}

.notification {
  display: grid;
  grid-template-columns: 1.25rem 1fr;
  gap: 1rem;
  padding: 0.75rem 1rem;
  overflow: hidden;
}

.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  color: var(--very-dark-blue);
}

.notification-active {
  max-height: 380px;
}

.img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile {
  position: relative;
  gap: 0.75rem;
}

.name {
  gap: 0.25rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.type {
  display: flex;
  flex-direction: column;
}

.type span {
  font-size: 0.875rem;
}

.role {
  font-size: 0.75rem;
}

.dropdown {
  position: absolute;
  top: 125%;
  right: 0;
  width: 8rem;
  height: 0;
  font-size: 0.875rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  transition: height 300ms ease-in;
  overflow: hidden;
}

.border {
  width: 100%;
  height: 3px;
  background-color: var(--primary);
}

.dropdown-links {
  display: flex;
  flex-direction: column;
}

.dropdown-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-icon {
  font-size: 1.25rem;
}

.dropdown-active {
  height: auto;
}

.arrow-down {
  transition: transform 300ms ease;
}

.arrow-down-active {
  transform: rotate(-180deg);
}

/* ========== MAIN ========== */
main {
  min-height: calc(100vh - 4rem);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.form,
.table {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  height: min-content;
}

.table {
  overflow-x: auto;
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
}

tr td {
  text-align: center;
}

h2 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.875rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

button {
  width: 9rem;
  margin-top: 0.5rem;
  padding: 0.875rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.25rem;
  cursor: pointer;
}

#clear {
  background-color: var(--red);
}

button:hover,
button:focus {
  background-color: var(--darker-primary);
}

.table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.pi-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 768px) {
  .name {
    display: none;
  }

  .notification-container {
    left: -820%;
  }

  main {
    padding: 1rem;
  }

  button {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
  }

  .menu-icon {
    display: block;
  }

  .mobile-nav {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .location {
    font-size: 1.35rem;
  }

  .link {
    padding: 0.75rem 2rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }

  .form-group {
    grid-template-columns: repeat(1, 1fr);
  }
}
