<div class="container">
  <div class="card" *ngIf="card1">
    <div class="image-container">
      <img src="../../../../../assets/images/person.png" alt="person" />
    </div>
    <p>
      Please provide your email address so we can send you a 6-digit code for
      verification
    </p>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
      <div *ngIf="alert" class="alert">
        <span class="material-symbols-rounded"> error </span>
        Email address is not in our system
      </div>
      <div class="input-group">
        <input pInputText class="email-input" formControlName="email" />
        <div *ngIf="email.invalid && (email?.dirty || email?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="email?.errors?.['required']"
            >Email address is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="email?.errors?.['email']"
            >Invalid email address</small
          >
        </div>
      </div>
      <button type="submit">
        <span class="loader" [class.loader-active]="isSending"></span>
        <span class="send-code" [class.send-code-active]="!isSending">
          Send Code</span
        >
      </button>
    </form>
  </div>

  <div class="card" *ngIf="card2">
    <div class="image-container">
      <img src="../../../../../assets/images/person.png" alt="person" />
    </div>
    <p>
      Please enter the verification code that was sent to your email address
    </p>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmitOTP()">
      <div *ngIf="alert" class="alert">
        <span class="material-symbols-rounded"> error </span>
        Invalid OTP Code
      </div>
      <div class="input-group">
        <input
          pInputText
          class="email-input"
          formControlName="otp"
          pKeyFilter="int"
        />
        <div *ngIf="otp.invalid && (otp?.dirty || otp?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="otp?.errors?.['required']"
            >OTP code is required</small
          >
        </div>
      </div>
      <div class="resend-container">
        <span>Didn't receive an OTP? <span class="resent">Resend</span></span>
      </div>
      <button type="submit">Validate</button>
    </form>
  </div>

  <div class="card" *ngIf="card3">
    <div class="image-container">
      <img src="../../../../../assets/images/reset.png" alt="person" />
    </div>
    <p>Reset Password</p>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
      <div *ngIf="alert" class="alert success">
        <span class="material-symbols-rounded"> check </span>
        Password successfully updated
      </div>
      <div class="input-group">
        <label>New Password</label>
        <input pInputText class="email-input tl" formControlName="password" />
        <div *ngIf="password.invalid && (password?.dirty || password?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password?.errors?.['required']"
            >New password is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Confirm Password</label>
        <input
          pInputText
          class="email-input tl"
          formControlName="confirmPassword"
        />
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword?.dirty || confirmPassword?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="confirmPassword?.errors?.['required']"
            >Confirm Password is required</small
          >
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
