<div class="container">
  <div class="card">
    <div class="image-container">
      <img src="../../../../../assets/images/person.png" alt="person" />
    </div>
    <p>
      Please provide your email address so we can send you a 6-digit code for
      verification
    </p>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
      <div *ngIf="alert" class="alert">
        <span class="material-symbols-rounded"> error </span>
        Email address is not in our system
      </div>
      <div class="input-group">
        <input pInputText class="email-input" formControlName="email" />
        <div *ngIf="email.invalid && (email?.dirty || email?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="email?.errors?.['required']"
            >Email address is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="email?.errors?.['email']"
            >Invalid email address</small
          >
        </div>
      </div>
      <button type="submit">
        <span class="loader" [class.loader-active]="isSending"></span>
        <span class="send-code" [class.send-code-active]="!isSending">
          Send Code</span
        >
      </button>
    </form>
  </div>
</div>
