<div class="container">
  <div class="card">
    <div class="card-header">
      <p class="title">Forgot Password</p>
    </div>
    <div class="image-container">
      <img src="../../../../../assets/images/person.png" alt="person" />
    </div>
    <div class="card-content">
      <p>Enter your email address and we'll send you a 6 digit code.</p>
    </div>
    <div class="email-input-container">
      <input pInputText class="email-input" type="text" />
    </div>
    <div class="button-container">
      <button
        type="submit"
        class="button-submit"
        routerLink="/forgot-password/otp"
      >
        Send Code
      </button>
    </div>
  </div>
</div>
