.card {
  display: flex;
  flex-direction: column;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 1rem;
  color: var(--darker-primary);
  font-size: 1.5rem;
  padding: 2rem;
}

.card-header mat-icon {
  margin-top: 0.3rem;
}

.student {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6.5rem;
  padding: 1rem 0 3rem;
}

.student-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.student-icon mat-icon {
  width: 100%;
  height: 100%;
  font-size: 7rem;
  color: var(--very-dark-saturated-blue);
}

.student-info {
  font-size: 1rem;
  color: var(--very-dark-saturated-blue);
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 3rem 1rem 0;
}

.form-action button {
  width: 7rem;
  text-align: center;
}

.save {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
}

.save:hover {
  cursor: pointer;
  background-color: var(--darker-primary);
}

.cancel {
  background-color: none;
  color: var(--very-dark-saturated-blue);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
}

.cancel:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--darker-primary);
}
