<main>
  <div class="table">
    <div class="card-container">
      <ng-container *ngFor="let student of students">
        <div class="card">
          <div class="card-banner">
            <img
              src="{{
                student.banner ||
                  '../../../../../../../assets/images/profile-banner.jpg'
              }}"
              alt=""
            />
            <div class="profile-img">
              <img
                src="{{
                  student.image ||
                    '../../../../../../../assets/images/blank-profile.jpg'
                }}"
                alt="Profile Image"
              />
            </div>
          </div>
          <div class="card-body">
            <ul>
              <li>
                Name: {{ student.firstname }} {{ student.middlename }}
                {{ student.lastname }}
                {{ student.suffix }}
              </li>
              <li>Program: {{ student.program.programTitle }}</li>
              <li>Year Level: {{ student.yearLevel }}</li>
              <li>Term: {{ student.sem }}</li>
              <li>Academic Year: {{ student.academicYear }}</li>
            </ul>
            <button (click)="view(student.studentId)">View Attendance</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>
