<main>
  <div class="table">
    <p-table
      #dt
      [value]="sections"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['sectionName']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <button class="add" (click)="onClickAdd()">ADD</button>
          <span [style]="{ position: 'relative' }">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              [style]="{
                width: '16rem',
                paddingLeft: '2.5rem'
              }"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 33.33%">Section Name</th>
          <th style="width: 33.33%">Status</th>
          <th style="width: 33.33%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-section>
        <tr>
          <td>{{ section.sectionName }}</td>
          <td>
            <div class="{{ section.activeDeactive ? 'active' : 'inactive' }}">
              {{ section.activeDeactive ? "Active" : "Inactive" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button class="table-action edit" (click)="onClickEdit(section)">
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Edit program"
                  >edit</mat-icon
                >
                <span>Edit</span>
              </button>
              <button
                class="table-action {{
                  !section.activeDeactive ? 'activate' : 'deactive'
                }}"
                (click)="onClickRemove(section)"
              >
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Remove program"
                  >block</mat-icon
                >
                <span>{{
                  !section.activeDeactive ? "Activate" : "Deactivate"
                }}</span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">{{ title }}</div>
  </p-header>
  <form [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
    <div
      class="alert {{
        alertStatus == 'Success' ? 'alert-success' : 'alert-error'
      }}"
      *ngIf="alert"
    >
      <mat-icon class="material-icons-outlined" *ngIf="alertStatus == 'Error'"
        >error</mat-icon
      >
      <mat-icon class="material-icons-outlined" *ngIf="alertStatus == 'Success'"
        >check</mat-icon
      >
      {{ alertMessage }}
    </div>
    <div class="form-group">
      <div class="input-group">
        <label>Section Name:</label>
        <input
          pInputText
          placeholder="Section name"
          formControlName="sectionName"
        />
        <div
          *ngIf="
            sectionName?.invalid && (sectionName?.dirty || sectionName?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="sectionName?.errors?.['required']"
            >Section name is required</small
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="action-btn cancel" (click)="onClickCancel()">
        Cancel
      </button>
      <button type="submit" class="action-btn submit">Save</button>
    </div>
  </form>
</p-dialog>
<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to
  {{ status ? "activate" : "deactivate" }} this section?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteSection()">Yes</button>
  </div>
</p-dialog>
