<app-header></app-header>
<!-- <section class="hero">
  <div class="image-container"></div>
</section> -->
<div class="container">
  <p class="title-container">College Programs Offered</p>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Information and Communications Technology</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Information Technology">
            <p>
              Designed to provide a broad understanding of information and
              communication technology, our BSIT program delivers an innovative
              education that equips students with practical knowledge and
              real-life skills to adapt in a rapidly evolving ICT-driven world.
              Grasp various technical expertise from cloud computing, mobile &
              web development, cybersecurity, user experience design to
              information management, and get industry-standard certifications
              from our global partners including Huawei, Microsoft, and Oracle
              to name a few.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Cloud Computing</li>
                    <li>Data Science and Analytics</li>
                    <li>Cybersecurity</li>
                    <li>Mobile and Web Development</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Application Developer</li>
                    <li>Client Support Specialist</li>
                    <li>Cloud Architect</li>
                    <li>Cybersecurity Specialist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Computer Science">
            <p>
              Designed to provide a broad understanding of information and
              communication technology, our BSIT program delivers an innovative
              education that equips students with practical knowledge and
              real-life skills to adapt in a rapidly evolving ICT-driven world.
              Grasp various technical expertise from cloud computing, mobile &
              web development, cybersecurity, user experience design to
              information management, and get industry-standard certifications
              from our global partners including Huawei, Microsoft, and Oracle
              to name a few.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Cloud Computing</li>
                    <li>Data Science and Analytics</li>
                    <li>Cybersecurity</li>
                    <li>Mobile and Web Development</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Application Developer</li>
                    <li>Client Support Specialist</li>
                    <li>Cloud Architect</li>
                    <li>Cybersecurity Specialist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Information Systems">
            <p>
              Designed to provide a broad understanding of information and
              communication technology, our BSIT program delivers an innovative
              education that equips students with practical knowledge and
              real-life skills to adapt in a rapidly evolving ICT-driven world.
              Grasp various technical expertise from cloud computing, mobile &
              web development, cybersecurity, user experience design to
              information management, and get industry-standard certifications
              from our global partners including Huawei, Microsoft, and Oracle
              to name a few.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Cloud Computing</li>
                    <li>Data Science and Analytics</li>
                    <li>Cybersecurity</li>
                    <li>Mobile and Web Development</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Application Developer</li>
                    <li>Client Support Specialist</li>
                    <li>Cloud Architect</li>
                    <li>Cybersecurity Specialist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Computer Engineering">
            <p>
              Designed to provide a broad understanding of information and
              communication technology, our BSIT program delivers an innovative
              education that equips students with practical knowledge and
              real-life skills to adapt in a rapidly evolving ICT-driven world.
              Grasp various technical expertise from cloud computing, mobile &
              web development, cybersecurity, user experience design to
              information management, and get industry-standard certifications
              from our global partners including Huawei, Microsoft, and Oracle
              to name a few.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Cloud Computing</li>
                    <li>Data Science and Analytics</li>
                    <li>Cybersecurity</li>
                    <li>Mobile and Web Development</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Application Developer</li>
                    <li>Client Support Specialist</li>
                    <li>Cloud Architect</li>
                    <li>Cybersecurity Specialist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Business Management</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Business Administration">
            <p>
              Committed to instill an extensive understanding in the business
              field, our BSBA program provides quality entrepreneurship
              education, along with its comprehensive curriculum, that develops
              business-driven character among students that will allow them to
              thrive in the ever-changing industry. Learn all about the
              principles and conventions associated with the adaptive style of
              managing a business from basic finance and economics, marketing,
              and customer service, among other courses that are essential in
              running an effective business.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Business Management</li>
                    <li>Marketing, Sales, and Customer Service</li>
                    <li>Operations Management/li></li>
                    <li>Entrepreneurial Management</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Marketing Associate/Manager</li>
                    <li>General and Operations Manager</li>
                    <li>Logistics/facilities Manager</li>
                    <li>Business Developer/Entrepreneur</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Accountancy">
            <p>
              Committed to instill an extensive understanding in the business
              field, our BSBA program provides quality entrepreneurship
              education, along with its comprehensive curriculum, that develops
              business-driven character among students that will allow them to
              thrive in the ever-changing industry. Learn all about the
              principles and conventions associated with the adaptive style of
              managing a business from basic finance and economics, marketing,
              and customer service, among other courses that are essential in
              running an effective business.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Business Management</li>
                    <li>Marketing, Sales, and Customer Service</li>
                    <li>Operations Management/li></li>
                    <li>Entrepreneurial Management</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Marketing Associate/Manager</li>
                    <li>General and Operations Manager</li>
                    <li>Logistics/facilities Manager</li>
                    <li>Business Developer/Entrepreneur</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Accounting Information System">
            <p>
              Committed to instill an extensive understanding in the business
              field, our BSBA program provides quality entrepreneurship
              education, along with its comprehensive curriculum, that develops
              business-driven character among students that will allow them to
              thrive in the ever-changing industry. Learn all about the
              principles and conventions associated with the adaptive style of
              managing a business from basic finance and economics, marketing,
              and customer service, among other courses that are essential in
              running an effective business.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Business Management</li>
                    <li>Marketing, Sales, and Customer Service</li>
                    <li>Operations Management/li></li>
                    <li>Entrepreneurial Management</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Marketing Associate/Manager</li>
                    <li>General and Operations Manager</li>
                    <li>Logistics/facilities Manager</li>
                    <li>Business Developer/Entrepreneur</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Mangement Accounting">
            <p>
              Committed to instill an extensive understanding in the business
              field, our BSBA program provides quality entrepreneurship
              education, along with its comprehensive curriculum, that develops
              business-driven character among students that will allow them to
              thrive in the ever-changing industry. Learn all about the
              principles and conventions associated with the adaptive style of
              managing a business from basic finance and economics, marketing,
              and customer service, among other courses that are essential in
              running an effective business.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Business Management</li>
                    <li>Marketing, Sales, and Customer Service</li>
                    <li>Operations Management/li></li>
                    <li>Entrepreneurial Management</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Marketing Associate/Manager</li>
                    <li>General and Operations Manager</li>
                    <li>Logistics/facilities Manager</li>
                    <li>Business Developer/Entrepreneur</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
