<app-header></app-header>
<!-- <section class="hero">
  <div class="image-container"></div>
</section> -->
<div class="container">
  <p class="title-container">College Programs Offered</p>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Information and Communications Technology</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Information Technology">
            <p>
              Includes a wide range of courses covering subjects such as
              computer programming, database management, networking, web
              development, software engineering, information security, and
              project management. The curriculum is designed to provide students
              with a solid foundation in IT principles and practices.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Cloud Computing</li>
                    <li>Data Science and Analytics</li>
                    <li>Cybersecurity</li>
                    <li>Mobile and Web Development</li>
                    <li>Software Development</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Application Developer</li>
                    <li>Client Support Specialist</li>
                    <li>Cloud Architect</li>
                    <li>Cybersecurity Specialist</li>
                    <li>Systems Analyst</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Computer Science">
            <p>
              Focuses on the study of computer systems, algorithms, programming
              languages, and software development. It is a comprehensive program
              designed to provide students with a strong foundation in computer
              science theory and practical skills necessary for a career in the
              field.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Machine Learning</li>
                    <li>Artificial Intelligence</li>
                    <li>Data Science and Analytics</li>
                    <li>Software Development</li>
                    <li>Computing Algorithms</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Application Developer</li>
                    <li>Software Developer</li>
                    <li>Cloud Architect</li>
                    <li>Software Quality Assurance Specialist</li>
                    <li>Business Analyst</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Computer Engineering">
            <p>
              Welcome to the exciting world of a BS in Computer Engineering,
              where you'll embark on a transformative educational journey that
              combines the best of computer science and electrical engineering.
              Throughout this course, you will delve into a myriad of
              fascinating subjects such as digital systems design, computer
              architecture, software development, embedded systems, signal
              processing, and more. You'll have the opportunity to work on
              real-world projects, harnessing your technical expertise to design
              innovative hardware and software solutions. With hands-on
              experience and a deep understanding of computer engineering
              principles, you'll be equipped to revolutionize industries, create
              groundbreaking technologies, and shape the future of computing.
              Join us on this extraordinary adventure and unlock a world of
              limitless possibilities in the dynamic field of computer
              engineering.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Cloud Computing</li>
                    <li>Data Science and Analytics</li>
                    <li>Cybersecurity</li>
                    <li>Web Development</li>
                    <li>Machine Learning</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Big Data Engineer</li>
                    <li>Machine Learning Engineering</li>
                    <li>Data Science</li>
                    <li>Information Systems Manager</li>
                    <li>Software Developer</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Business Management</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Business Administration">
            <p>
              Embark on a transformative educational journey with a Bachelor of
              Science in Business Administration, where you'll gain a
              comprehensive understanding of the dynamic world of business.
              Throughout this course, you will explore a wide range of subjects
              including marketing, finance, human resources, operations
              management, and strategic planning. With a focus on practical
              application, you'll develop essential skills such as critical
              thinking, problem-solving, effective communication, and
              leadership. From analyzing market trends to making data-driven
              decisions, you'll acquire the knowledge and expertise needed to
              thrive in a competitive business landscape. Join us in pursuing a
              BS in Business Administration and unlock a world of exciting
              opportunities in various industries, entrepreneurship, and
              managerial roles.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Business Management</li>
                    <li>Marketing, Sales, and Customer Service</li>
                    <li>Operations Management</li>
                    <li>Entrepreneurial Management</li>
                    <li>Financial Management</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Marketing Associate/Manager</li>
                    <li>General and Operations Manager</li>
                    <li>Logistics/facilities Manager</li>
                    <li>Business Developer/Entrepreneur</li>
                    <li>Financial Manager</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Accounting Information System">
            <p>
              Come and experience on a transformative educational journey with a
              Bachelor of Science in Accounting Information Systems (AIS), where
              you'll bridge the worlds of accounting and technology to become a
              versatile professional in high demand. Throughout this course, you
              will gain a deep understanding of accounting principles, financial
              reporting, auditing, and taxation. Simultaneously, you'll explore
              the intersection of accounting and information technology, delving
              into subjects such as database management, systems analysis, data
              analytics, and cybersecurity. By mastering both disciplines,
              you'll become proficient in leveraging technology to enhance
              financial processes, improve decision-making, and mitigate risks.
              Join us in pursuing a BS in Accounting Information Systems and
              unlock a world of exciting opportunities as a sought-after
              professional in accounting, finance, auditing, consulting, or even
              as a tech-savvy entrepreneur. With your unique skill set, you'll
              be poised to make a significant impact in today's digitally-driven
              business world.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>
                      Accounting Information System/ Management Information
                      System
                    </li>
                    <li>Enterprise Resource Planning Management</li>
                    <li>
                      Information Systems Operations, Maintenance, and Security
                    </li>
                    <li>Financial Accounting and Reporting</li>
                    <li>Cost Accounting</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Financial Analyst/Manager</li>
                    <li>Accounting Information System Analyst</li>
                    <li>Credit Analyst</li>
                    <li>Cost Accountant</li>
                    <li>Financial Services Specialist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Arts & Science</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Multimedia Arts">
            <p>
              Embark on a creative and dynamic educational journey with a
              Bachelor of Science in Multimedia Arts, where you'll unleash your
              artistic talents and explore the limitless possibilities of
              multimedia design. Throughout this course, you will immerse
              yourself in a diverse range of creative disciplines, including
              graphic design, digital art, web design, animation, video
              production, and interactive media. With state-of-the-art
              technology and industry-standard software, you'll learn to craft
              visually stunning and engaging multimedia experiences that
              captivate audiences across various platforms. From
              conceptualization to execution, you'll develop a keen eye for
              aesthetics, master storytelling techniques, and hone your
              technical skills in graphic editing, motion graphics, and audio
              production. Join us in pursuing a BS in Multimedia Arts and unlock
              a world of exciting opportunities in the creative industry.
              Whether you aspire to become a graphic designer, web developer,
              animator, video editor, or multimedia artist, this program will
              empower you to turn your passion for art and technology into a
              successful and fulfilling career. Let your imagination soar as you
              shape the future of visual communication and leave a lasting
              impact through your innovative multimedia creations.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Video Production</li>
                    <li>Program and App Development</li>
                    <li>Digital Photography</li>
                    <li>Instructional Design</li>
                    <li>Sound Engineering</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>VFX Artist</li>
                    <li>Film/Video Editor</li>
                    <li>Multimedia Artist/Producer</li>
                    <li>Digital Camera Operator</li>
                    <li>User Experience Designer</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BA in Communications">
            <p>
              Come and experience a transformative educational journey with a
              Bachelor of Arts in Communication, where you'll develop the
              essential skills to thrive in today's interconnected world.
              Throughout this course, you will explore the intricacies of
              effective communication across various mediums, honing your
              abilities in written, verbal, and visual communication. From
              interpersonal communication to public speaking, journalism to
              digital media, you'll gain a comprehensive understanding of the
              power of words, images, and messages in shaping perceptions and
              influencing audiences. Through hands-on projects, you'll develop
              practical skills in media production, content creation, and
              storytelling techniques. Join us in pursuing a BA in Communication
              and unlock a world of exciting opportunities in fields such as
              public relations, marketing, advertising, journalism, social
              media, and corporate communication. With your versatile skill set
              and the ability to navigate diverse communication platforms,
              you'll be equipped to make a meaningful impact in the digital age.
              Embrace the power of effective communication and become a
              compelling storyteller who connects, engages, and inspires.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Research and Analysis Information</li>
                    <li>Interpersonal Communication</li>
                    <li>Visual Design</li>
                    <li>Digital Photography</li>
                    <li>Web Content Management</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Journalist</li>
                    <li>Media Planner</li>
                    <li>Content Strategist</li>
                    <li>Video/Film Editor</li>
                    <li>Photojournalist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Social Science</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Psychology">
            <p>
              Embark on a fascinating journey of self-discovery and
              understanding with a Bachelor of Science in Psychology. By
              pursuing this course, you'll delve into the intricacies of the
              human mind and behavior, unraveling the mysteries that shape our
              thoughts, emotions, and actions. From exploring the foundations of
              psychology to studying various domains such as cognitive
              psychology, developmental psychology, social psychology, and
              abnormal psychology, you'll gain a comprehensive understanding of
              the complexities of human nature. Join us in pursuing a BS in
              Psychology and embark on a rewarding journey where you'll gain
              insights into the human mind, unravel the complexities of human
              behavior, and contribute to the betterment of individuals and
              communities. Discover the power of psychology and unlock a world
              of possibilities for personal and professional growth.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Clinical Resoning</li>
                    <li>Experiment Design</li>
                    <li>Psychology and cognitive science fundamentals</li>
                    <li>Interpersonal Awareness</li>
                    <li>Pragmatism</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Licensed Psychometricians</li>
                    <li>Counseling Psychology</li>
                    <li>Psychologist</li>
                    <li>Psychiatrist</li>
                    <li>Neuropsychologist</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Hospitality Management</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Hospitality Management">
            <p>
              Embark on a dynamic and fulfilling educational journey with a
              Bachelor of Science in Hospitality Management, where you'll
              immerse yourself in the exciting world of hospitality and gain the
              skills to excel in this thriving industry. Throughout this course,
              you'll develop a deep understanding of the principles and
              practices that drive the success of hotels, resorts, restaurants,
              event planning, and other hospitality-related businesses. From
              guest services to operations management, you'll learn how to
              create exceptional experiences for guests, ensuring their
              satisfaction and loyalty. You'll gain expertise in areas such as
              hospitality marketing, revenue management, food and beverage
              management, event planning, and sustainable practices. Through
              hands-on training, internships, and industry partnerships, you'll
              have the opportunity to apply your knowledge in real-world
              settings, honing your leadership, communication, and
              problem-solving skills. Join us in pursuing a BS in Hospitality
              Management and unlock a world of endless possibilities. Embrace
              your passion for hospitality, cultivate your entrepreneurial
              spirit, and embark on a rewarding career where you can make a
              positive impact on the lives of others through the art of
              hospitality. Experience the joy of creating unforgettable moments
              and shaping the future of this dynamic industry.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Guest Relations</li>
                    <li>Hotel/Resort Operations and Management</li>
                    <li>Restaurant and Bar Operations and Management</li>
                    <li>Supply Chain Management</li>
                    <li>Hospitality Marketing</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Hotel General Manager</li>
                    <li>Executive Chef</li>
                    <li>Cruise Directors</li>
                    <li>Pastry Chef</li>
                    <li>Cruise Ship Manager</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <mat-icon class="material-icons-outlined">event_note</mat-icon>
      <p class="title">Tourism Management</p>
    </div>
    <div class="card-content">
      <div class="card-row">
        <p-accordion>
          <p-accordionTab header="BS in Tourism Management">
            <p>
              From studying tourism trends and consumer behavior to honing your
              skills in marketing, event planning, and hospitality management,
              you'll acquire the expertise needed to thrive in this fast-paced
              and global industry. With a focus on experiential learning, you'll
              have opportunities for internships, fieldwork, and industry
              collaborations, allowing you to apply your knowledge in real-world
              settings and develop a strong network of professional contacts.
              Join us in pursuing a BS in Tourism Management and unlock a world
              of possibilities. Embrace your passion for travel, culture, and
              exploration, and embark on a career that allows you to create
              extraordinary moments for travelers, promote cross-cultural
              understanding, and make a positive impact on local communities.
              Experience the joy of transforming people's lives through the
              power of tourism and discover a fulfilling path where your love
              for adventure meets professional success.
            </p>
            <div class="course-info">
              <div class="info-box">
                <p class="info-title">Skills learned</p>
                <div class="info-content">
                  <ul>
                    <li>Business Acumen and Commercial Awareness</li>
                    <li>Events Planning</li>
                    <li>Tour and Travel Management and Operations</li>
                    <li>Tourism Sales and Marketing</li>
                    <li>Airline Management and Operations</li>
                  </ul>
                </div>
              </div>
              <div class="info-box">
                <p class="info-title">Career Oppurtunities</p>
                <div class="info-content">
                  <ul>
                    <li>Flight Attendant</li>
                    <li>Tour Operator</li>
                    <li>Tourism Marketing Manager</li>
                    <li>Destination Manager</li>
                    <li>Travel Specialist/Consultant</li>
                  </ul>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
