<main>
  <div class="table">
    <p-tabView>
      <p-tabPanel header="Attendance">
        <div class="table-header">
          <div class="btn-container">
            <button
              class="reset table-header-btn"
              title="Reset"
              (click)="onReset()"
            >
              <span class="material-symbols-rounded table-header-icon">
                restart_alt
              </span>
            </button>
          </div>
          <div class="filter">
            <p-dropdown
              [options]="atts"
              placeholder="Filter by status"
              appendTo="body"
              [(ngModel)]="att1"
              (ngModelChange)="onChangeAttendance($event)"
              [style]="{
                width: '100%',
                minWidth: '16rem'
              }"
            ></p-dropdown>
            <div class="search-container">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Search"
                [style]="{
                  width: '100%',
                  minWidth: '16rem',
                  paddingLeft: '2.5rem'
                }"
                placeholder="Search"
                [(ngModel)]="gradeSearch"
                (ngModelChange)="onChangeGradeSearch($event)"
              />
            </div>
          </div>
        </div>
        <p-table [value]="attendance" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 33.33%">Image</th>
              <th style="width: 33.33%">Name</th>
              <th style="width: 33.33%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-att>
            <ng-container *ngIf="att.activeDeactive">
              <ng-container *ngIf="!att.date">
                <tr>
                  <td>
                    <div class="avatar-container">
                      <div class="avatar">
                        <img
                          src="{{
                            att.student.image ||
                              '../../../../../../../assets/images/blank-profile.jpg'
                          }}"
                          alt="Student Image"
                        />
                      </div>
                    </div>
                  </td>
                  <td>
                    {{ att.student.firstname }} {{ att.student.middlename }}
                    {{ att.student.lastname }} {{ att.student.suffix }}
                  </td>
                  <td>
                    <div class="table-actions">
                      <button
                        class="table-btn schedule"
                        title="Edit"
                        (click)="onAttendance(att)"
                      >
                        <span class="material-symbols-rounded table-icon">
                          calendar_month
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="Grades">
        <div class="table-header">
          <div class="btn-container">
            <button
              class="reset table-header-btn"
              title="Reset"
              (click)="onReset()"
            >
              <span class="material-symbols-rounded table-header-icon">
                restart_alt
              </span>
            </button>
          </div>
          <div class="filter">
            <p-dropdown
              [options]="remarks"
              placeholder="Filter by remarks"
              appendTo="body"
              [(ngModel)]="remark"
              (ngModelChange)="onChangeRemarks($event)"
              [style]="{
                width: '100%',
                minWidth: '16rem'
              }"
            ></p-dropdown>
            <div class="search-container">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Search"
                [style]="{
                  width: '100%',
                  minWidth: '16rem',
                  paddingLeft: '2.5rem'
                }"
                placeholder="Search"
                [(ngModel)]="gradeSearch"
                (ngModelChange)="onChangeGradeSearch($event)"
              />
            </div>
          </div>
        </div>
        <p-table [value]="grades" [tableStyle]="{ 'min-width': '80rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%">Image</th>
              <th style="width: 17%">Name</th>
              <th style="width: 8%">Prelim</th>
              <th style="width: 8%">Midterm</th>
              <th style="width: 8%">Final</th>
              <th style="width: 8%">GWA</th>
              <th style="width: 15%">Comment</th>
              <th style="width: 8%">Remarks</th>
              <th style="width: 15%">Date Modified</th>
              <th style="width: 8%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-grade>
            <ng-container *ngIf="grade.status">
              <tr>
                <td>
                  <div class="avatar-container">
                    <div class="avatar">
                      <img
                        src="{{
                          grade.student.image ||
                            '../../../../../../../assets/images/blank-profile.jpg'
                        }}"
                        alt="Student Image"
                      />
                    </div>
                  </div>
                </td>
                <td>
                  {{ grade.student.firstname }} {{ grade.student.middlename }}
                  {{ grade.student.lastname }} {{ grade.student.suffix }}
                </td>
                <td>
                  {{ grade.prelim }}
                </td>
                <td>
                  {{ grade.midterm }}
                </td>
                <td>
                  {{ grade.finals }}
                </td>
                <td>
                  {{ getAverage(grade.prelim, grade.midterm, grade.finals) }}
                </td>
                <td>{{ grade.comment }}</td>
                <td>
                  <div
                    class="{{
                      grade.remarks == 'Passed'
                        ? 'status present'
                        : grade.remarks
                        ? 'status absent'
                        : ''
                    }}"
                  >
                    {{ grade.remarks }}
                  </div>
                </td>
                <td>{{ convertDate(grade.dateModified) }}</td>
                <td>
                  <div class="table-actions">
                    <button
                      class="table-btn edit"
                      title="Edit"
                      (click)="onEdit(grade)"
                    >
                      <span class="material-symbols-rounded table-icon">
                        edit
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="Evaluation">
        <div class="table-header">
          <div class="btn-container">
            <button
              class="active table-header-btn"
              title="{{
                evals.activeDeactive
                  ? 'Deactivate Evaluation'
                  : 'Activate Evaluation'
              }}"
              (click)="onActive()"
            >
              <span
                class="material-symbols-rounded table-header-icon {{
                  evals.activeDeactive && 'eval-active'
                }}"
              >
                insert_chart
              </span>
            </button>
            <button
              class="reset table-header-btn"
              title="Reset"
              (click)="onReset()"
            >
              <span class="material-symbols-rounded table-header-icon">
                restart_alt
              </span>
            </button>
          </div>
          <div class="search-container">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              [style]="{
                width: '100%',
                minWidth: '16rem',
                paddingLeft: '2.5rem'
              }"
              placeholder="Search"
              [(ngModel)]="gradeSearch"
              (ngModelChange)="onChangeGradeSearch($event)"
            />
          </div>
        </div>
        <p-table [value]="evaluations" [tableStyle]="{ 'min-width': '80rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 33.33%">Image</th>
              <th style="width: 33.33%">Name</th>
              <th style="width: 33.33%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-evaluation>
            <tr>
              <td>
                <div class="avatar-container">
                  <div class="avatar">
                    <img
                      src="{{
                        evaluation.student.image ||
                          '../../../../../../../assets/images/blank-profile.jpg'
                      }}"
                      alt="Student Image"
                    />
                  </div>
                </div>
              </td>
              <td>
                {{ evaluation.student.firstname }}
                {{ evaluation.student.middlename }}
                {{ evaluation.student.lastname }}
                {{ evaluation.student.suffix }}
              </td>
              <td>
                <div class="table-actions">
                  <button
                    class="table-btn schedule"
                    title="View"
                    (click)="onEval(evaluation)"
                  >
                    <span class="material-symbols-rounded table-icon">
                      visibility
                    </span>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</main>

<p-dialog
  [(visible)]="gradesDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="avatar-container dialog">
      <div class="avatar ava">
        <img
          src="{{
            student.image ||
              '../../../../../../../assets/images/blank-profile.jpg'
          }}"
          alt="Student Image"
        />
      </div>
      {{ student.firstname }} {{ student.middlename }}
      {{ student.lastname }}
      {{ student.suffix }}
    </div>
  </p-header>

  <div>
    <form [formGroup]="gradesForm" (ngSubmit)="onSubmit()">
      <div
        class="alert {{
          alertStatus == 'Success' ? 'alert-success' : 'alert-error'
        }}"
        *ngIf="alert"
      >
        <span class="material-icons-outlined" *ngIf="alertStatus == 'Error'"
          >error</span
        >
        <span class="material-icons-outlined" *ngIf="alertStatus == 'Success'"
          >check</span
        >
        {{ alertMessage }}
      </div>
      <div class="form-group">
        <div class="input-groups">
          <div class="input-group">
            <label>Prelim</label>
            <input
              pInputText
              placeholder="Prelim"
              pKeyFilter="num"
              formControlName="prelim"
            />
          </div>
          <div class="input-group">
            <label>Midterm</label>
            <input
              pInputText
              placeholder="Midterm"
              pKeyFilter="num"
              formControlName="midterm"
            />
          </div>
          <div class="input-group">
            <label>Final</label>
            <input
              pInputText
              placeholder="Final"
              pKeyFilter="num"
              formControlName="finals"
            />
          </div>
        </div>
        <div class="input-group ig">
          <label>Comment</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="comment"
          ></textarea>
        </div>
      </div>
      <div class="actions">
        <button
          class="action-btn cancel"
          type="button"
          (click)="onCancelGrade()"
        >
          Cancel
        </button>
        <button class="action-btn submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="attDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="avatar-container dialog">
      <div class="avatar ava">
        <img
          src="{{
            student.image ||
              '../../../../../../../assets/images/blank-profile.jpg'
          }}"
          alt="Student Image"
        />
      </div>
      {{ student.firstname }} {{ student.middlename }}
      {{ student.lastname }}
      {{ student.suffix }}
    </div>
  </p-header>

  <div>
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmitAttendance()">
      <div class="form-group">
        <div class="input-group">
          <label>Student's Attendance Status</label>
          <p-dropdown
            [options]="atts"
            placeholder="Select student' attendance status"
            appendTo="body"
            [style]="{
            width: '100%',

          }"
            formControlName="status"
          ></p-dropdown>
        </div>
      </div>
      <div class="actions">
        <button class="action-btn cancel" type="button" (click)="onCancel()">
          Cancel
        </button>
        <button class="action-btn submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
</p-dialog>
<p-dialog
  [(visible)]="evalDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">
      {{ evals.activeDeactive ? "Deactivate" : "Activate" }}
    </div>
  </p-header>
  <div class="modal-body">
    Are you sure you want to
    {{ evals.activeDeactive ? "deactivate" : "activate" }} the evaluation form
    for this subject?
  </div>
  <div class="actions">
    <button class="action-btn cancel" (click)="onCancelEval()">Cancel</button>
    <button class="action-btn submit" (click)="onActivate()">Confirm</button>
  </div>
</p-dialog>
