<main>
  <div class="table">
    <div class="table-header">
      <div class="btn-container">
        <button class="send" title="Submit" (click)="onSubmit()">
          <span class="material-symbols-rounded"> send </span>
        </button>
        <button class="edit" title="Edit" (click)="onEdit()">
          <span class="material-symbols-rounded"> edit </span>
        </button>
        <button class="reset" title="Reset" (click)="onReset()">
          <span class="material-symbols-rounded"> restart_alt </span>
        </button>
      </div>
      <div class="search-container">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [style]="{
            width: '100%',
            paddingLeft: '2.5rem'
          }"
          placeholder="Search"
        />
      </div>
    </div>
    <p-table
      [value]="grades"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      [rowsPerPageOptions]="[10, 15, 20]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Prelim</th>
          <th>Midterm</th>
          <th>Final</th>
          <th>Comment</th>
          <th>Remarks</th>
          <th>Date Modified</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-grade let-rowIndex="rowIndex">
        <tr>
          <td>
            <div class="avatar-container">
              <div class="avatar">
                <img
                  src="{{
                    grade.student.image ||
                      '../../../../../../../assets/images/blank-profile.jpg'
                  }}"
                  alt="Student Image"
                />
              </div>
            </div>
          </td>
          <td>
            {{ grade.student.firstname }} {{ grade.student.middlename }}
            {{ grade.student.lastname }}
          </td>
          <td>
            <div *ngIf="!isEditing">{{ grade.prelim || "-" }}</div>
            <input
              *ngIf="isEditing"
              pInputText
              pKeyFilter="num"
              [style]="{
                height: '45px',
                width: '4.75rem',
                textAlign: 'center'
              }"
              [value]="gradesToSubmit[rowIndex].prelim"
              (input)="onChangePrelim($event, rowIndex, grade.gradeId)"
            />
          </td>
          <td>
            <div *ngIf="!isEditing">
              {{ grade.midterm || "-" }}
            </div>
            <input
              *ngIf="isEditing"
              pInputText
              pKeyFilter="num"
              [style]="{
                height: '45px',
                width: '4.75rem',
                textAlign: 'center'
              }"
              [value]="gradesToSubmit[rowIndex].midterm"
              (input)="onChangeMidterm($event, rowIndex, grade.gradeId)"
            />
          </td>
          <td>
            <div *ngIf="!isEditing">
              {{ grade.finals || "-" }}
            </div>
            <input
              *ngIf="isEditing"
              pInputText
              pKeyFilter="num"
              [style]="{
                height: '45px',
                width: '4.75rem',
                textAlign: 'center'
              }"
              [value]="gradesToSubmit[rowIndex].finals"
              (input)="onChangeFinal($event, rowIndex, grade.gradeId)"
            />
          </td>
          <td>{{ grade.comment || "-" }}</td>
          <td>{{ grade.remark || "-" }}</td>
          <td>{{ grade.dateModified || "-" }}</td>
          <td>
            <div class="status {{ grade.status ? 'active' : 'inactive' }}">
              {{ grade.status ? "Active" : "Inactive" }}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
