footer {
  color: var(--white);
  background-color: var(--primary);
  font-size: 0.875rem;
}

.footer-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.usefull-links {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.apply-footer {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.box {
  width: 100%;
  align-items: center;
}

.box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.box-title mat-icon {
  font-size: 3rem;
}

.school-title {
  font-size: 1.75rem;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.box-action {
  display: flex;
  flex-direction: row-reverse;
}

.box-action button {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--white);
  color: var(--primary);
  padding: 0.25rem 0.5rem;
  font-weight: 700;
}

.box-action button:hover {
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.logo {
  font-size: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  margin: 0.5rem 0;
}

.social-img a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-img img {
  width: 40px;
  height: 40px;
}

i {
  color: var(--primary);
  font-size: 1.5rem;
}

.title {
  // font-size: clamp(0.9375rem, 0.8643rem + 0.3659vw, 1rem);
  font-size: 2rem;
}

.link {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link > * {
  cursor: pointer;
}

.link > *:hover {
  text-decoration: underline;
}

// @media screen and (min-width: 576px) {
//   .links {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media screen and (min-width: 768px) {
//   .links {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

@media screen and (max-width: 905px) {
  .links {
    flex-direction: column;
    gap: 0;
  }

  .usefull-links {
    width: 100%;
    justify-content: space-around;
  }

  .apply-footer {
    width: 100%;
  }
}
