<footer>
  <div class="footer-container">
    <div class="links">
      <div class="usefull-links">
        <div class="contacts">
          <div class="logo">Educate</div>
          <div class="contact">
            <div>Email: eduacte1738@gmail.com</div>
            <div>Mobile: +63 927-1234567</div>
          </div>
          <div class="socials">
            <div class="social">
              <i class="ri-facebook-box-line"
                ><div class="social-img">
                  <a
                    href="https://www.facebook.com/?stype=lo&jlou=AfeaVTj97gds_akWqIlnf82v5IrffLu8Rs47FGY8RXC1TWpkJ6ULdBN0bRv-OvtHnmoSd-qpVCu-L3pRHu2210jpSEa_leN7k88-T1_dU9N3vA&smuh=13026&lh=Ac80exk3pxXQ3mDCOMs"
                    ><img
                      src="https://png.pngtree.com/png-vector/20230225/ourmid/pngtree-facebook-icon-social-media-png-image_6618433.png"
                      alt=""
                  /></a></div
              ></i>
            </div>
            <div class="social">
              <i class="ri-twitter-line">
                <div class="social-img">
                  <a href="https://www.instagram.com/"
                    ><img
                      src="https://png.pngtree.com/png-vector/20230225/ourmid/pngtree-instagram-social-media-icon-png-image_6618438.png"
                      alt=""
                  /></a>
                </div>
              </i>
            </div>
            <div class="social">
              <i class="ri-linkedin-box-line"
                ><div class="social-img">
                  <a href="https://twitter.com/"
                    ><img
                      src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png"
                      alt=""
                  /></a></div
              ></i>
            </div>
          </div>
          <div class="copyright">@ 2023 All Rights Reserved By Educate</div>
        </div>
        <div>
          <div class="title">Navigation</div>
          <div class="link">
            <div>Educate University</div>
            <div (click)="onClickAbout()">About Educate</div>
            <div (click)="onClickCourses()">Courses</div>
            <div (click)="onClickContact()">Contact</div>
            <div (click)="onClickLife()">Life at Educate</div>
          </div>
        </div>
      </div>
      <div class="apply-footer">
        <div class="box">
          <div class="box-title">
            <div class="school-title">Be one of us</div>
          </div>
          <div class="box-content">
            <div>
              Enroll in our school and unlock your full potential in academics
              and personal growth. Educate University is a community that
              embraces diversity and celebrates individuality. With our
              cutting-edge facilities, and a wide range of extracurricular
              activities, you'll have every opportunity to explore your passions
              and develop your skills. Seize the opportunity to embark on an
              extraordinary educational experience at our school.
            </div>
            <div class="box-action">
              <button (click)="onClickApply()">Become a Student</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
