<footer>
  <div class="footer-container">
    <div class="links">
      <div class="contacts">
        <span class="logo">Educate</span>
        <div class="contact">
          <div>Email: eduacte1738@gmail.com</div>
          <div>Mobile: +63 927-1234567</div>
        </div>
        <div class="socials">
          <div class="social"><i class="ri-facebook-box-line"></i></div>
          <div class="social"><i class="ri-twitter-line"></i></div>
          <div class="social"><i class="ri-linkedin-box-line"></i></div>
        </div>
        <div class="copyright">@ 2023 All Rights Reserved By Educate</div>
      </div>
      <div>
        <div class="title">Useful Links</div>
        <div class="link">
          <div>Home</div>
          <div>About Educate</div>
          <div>Courses</div>
          <div>Contact</div>
          <div>Life at Educate</div>
        </div>
      </div>
      <div>
        <div class="title">Useful Links</div>
        <div class="link">
          <div>Home</div>
          <div>About Educate</div>
          <div>Courses</div>
          <div>Contact</div>
          <div>Life at Educate</div>
        </div>
      </div>
      <div>
        <div class="title">Be one of us</div>
        <div class="link">
          <div>Become an instructor</div>
          <div>Become a student</div>
        </div>
      </div>
    </div>
  </div>
</footer>
