<main>
  <div class="table">
    <div class="table-header">
      <div class="btn-container">
        <button class="edit table-header-btn" title="Back" (click)="onBack()">
          <span class="material-symbols-rounded table-header-icon">
            arrow_back
          </span>
        </button>
        <button
          class="reset table-header-btn"
          title="Reset"
          (click)="onReset()"
        >
          <span class="material-symbols-rounded table-header-icon">
            restart_alt
          </span>
        </button>
      </div>
      <div class="filter">
        <p-dropdown
          [options]="atts"
          placeholder="Filter by status"
          appendTo="body"
          [(ngModel)]="att1"
          (ngModelChange)="onChangeAttendance($event)"
          [style]="{
            width: '100%',
            minWidth: '16rem',
          }"
        ></p-dropdown>
      </div>
    </div>
    <div class="units-container">
      <div class="selected-unit">Number of Present: {{ present }}</div>
      <div class="minimum-unit">Number of Late: {{ late }}</div>
      <div class="maximum-unit">Number of Absent: {{ absent }}</div>
    </div>
    <p-table [value]="attendance" [tableStyle]="{ 'min-width': '80rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Image</th>
          <th style="width: 25%">Name</th>
          <th style="width: 16%">Date</th>
          <th style="width: 20%">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-att>
        <ng-container *ngIf="att.activeDeactive">
          <ng-container *ngIf="att.date">
            <tr>
              <td>
                <div class="avatar-container">
                  <div class="avatar">
                    <img
                      src="{{
                        att.student.image ||
                          '../../../../../../../assets/images/blank-profile.jpg'
                      }}"
                      alt="Student Image"
                    />
                  </div>
                </div>
              </td>
              <td>
                {{ att.student.firstname }} {{ att.student.middlename }}
                {{ att.student.lastname }} {{ att.student.suffix }}
              </td>
              <td>
                {{ convertDate(att.date) }}
              </td>
              <td>
                <div
                  class="status {{
                    att.status == 'Present'
                      ? 'present'
                      : att.status == 'Absent'
                      ? 'absent'
                      : 'late'
                  }}"
                >
                  {{ att.status || "-" }}
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
</main>
