<main>
  <div class="left-container">
    <div class="title t1">Student's Average Grade Per Course</div>
    <div class="bar-chart">
      <p-chart type="bar" [data]="professorBar"></p-chart>
    </div>
    <label class="title">YOUR COURSES</label>
    <div class="professor-load-container">
      <ng-container *ngFor="let load of load.schedules; index as i">
        <ng-container *ngIf="load.activeDeactive">
          <ng-container *ngIf="load.subject.activeDeactive">
            <div class="professor-load" (click)="route(load)">
              <div class="load-img-container">
                <img src="../../../../../assets/images/book.png" />
              </div>
              <label class="load-title">{{ load.subject.subjectTitle }}</label>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>
