@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  padding: 1.5rem;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.bar-chart {
  height: 100%;
  width: 100%;
  padding: 0 1.5rem 1.5rem;
  border-radius: 0.25rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.professor-load-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 1.5rem;
}

.professor-load {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #e2e2e2;
  cursor: pointer;
}

.load-img-container {
  width: 4rem;
  height: 4rem;
}

.load-title {
  font-size: 1.25rem;
  font-weight: 300;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.t1 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 992px) {
  .professor-load-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
