<main>
  <div class="card-container">
    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-rounded"> man </span>
      </div>
      <div class="card-content">
        <div class="card-title">Students</div>
        <div class="count">100</div>
      </div>
    </div>
    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-rounded"> safety_divider </span>
      </div>
      <div class="card-content">
        <div class="card-title">Sections</div>
        <div class="count">100</div>
      </div>
    </div>
    <div class="card">
      <div class="card-icon">
        <span class="material-symbols-rounded"> menu_book </span>
      </div>
      <div class="card-content">
        <div class="card-title">Subjects</div>
        <div class="count">100</div>
      </div>
    </div>
  </div>
</main>
