@import "../../../../../variables.scss";

main {
  padding: 1.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.card {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  color: var(--white);
  overflow: hidden;
}

.card:nth-of-type(1) {
  background-color: var(--light-blue);
}

.card:nth-of-type(2) {
  background-color: var(--light-red);
}

.card:nth-of-type(3) {
  background-color: var(--green);
}

span {
  font-size: 3rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: clamp(1.25rem, 1.0549rem + 0.9756vw, 1.75rem);
  font-weight: 300;
}

.count {
  font-size: clamp(1.125rem, 0.9787rem + 0.7317vw, 1.5rem);
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
