@import "../../../../../variables.scss";

.modal-header,
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  color: var(--white);
  background-color: var(--primary);
  z-index: 20;
}

mat-icon {
  color: var(--very-dark-blue);
  cursor: pointer;
}

.close {
  color: var(--white);
}

.form {
  position: relative;
  padding: 2rem;
}

.frm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-group {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  padding-left: 2.5rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.pass {
  padding-right: 2.5rem;
}

.mask-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

.forgot {
  text-align: right;
  margin-bottom: 1rem;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 100vmax;
}

button:hover,
button:focus {
  background-color: var(--darker-primary);
}

.modal-footer {
  cursor: pointer;
}

.modal-footer:hover {
  background-color: var(--darker-primary);
}

.staff-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--white);
  transition: transform 200ms ease-in;
  z-index: 10;
  transform: translateY(-150%);
  overflow: hidden;
}

.staff-form-active {
  transform: translateY(0);
}

.alert {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--red);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.close-icon {
  display: grid;
  place-items: center;
}
