@import "../../../../../variables.scss";
.card {
  width: 100%;
}
.card-header {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.input-container {
  position: relative;
}

input {
  width: 100%;
  padding: 1rem 0.875rem 1rem 2.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  font-size: 1.2rem;
}
.mask-input {
  padding: 1rem 2.75rem;
}
input:hover,
input:focus {
  cursor: pointer;
  border: 1px solid var(--primary);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}
.mask-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}
button {
  margin-top: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: var(--white);
  background-color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
}

button:hover,
button:focus {
  background-color: var(--darker-primary);
}
