<div class="card">
  <div class="card-header">
    <mat-icon class="material-icons-outlined">school</mat-icon>
    <span>SMA University</span>
  </div>
  <div class="content">
    <div class="title">Sign-in</div>
    <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
      <div>
        <label>Username</label>
        <div class="input-container">
          <mat-icon class="material-icons-outlined input-icon">person</mat-icon>
          <input type="text" formControlName="username" required />
        </div>
      </div>
      <div>
        <label>Password</label>
        <div class="input-container">
          <mat-icon class="material-icons-outlined input-icon">lock</mat-icon>
          <input
            class="mask-input"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <div (click)="hide = !hide">
            <mat-icon class="material-icons-outlined mask-icon">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </div>
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
