<div>
  <div class="modal-header">
    <span>Login</span>
    <div (click)="close()" class="close-icon">
      <mat-icon class="material-icons-outlined close">close</mat-icon>
    </div>
  </div>
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="alert" *ngIf="isError">
        <mat-icon class="material-icons-outlined close">error</mat-icon>
        Invalid username or password
      </div>
      <div class="frm">
        <div class="form-group">
          <label>Username:</label>
          <div class="input-group">
            <mat-icon class="material-icons-outlined input-icon"
              >person</mat-icon
            >
            <input pInputText formControlName="username" required />
          </div>
          <div
            *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="username?.errors?.['required']"
              >Username is required</small
            >
          </div>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <div class="input-group">
            <mat-icon class="material-icons-outlined input-icon">lock</mat-icon>
            <input
              pInputText
              [type]="isPasswordHidden ? 'password' : 'text'"
              formControlName="password"
              required
              class="pass"
            />
            <div (click)="togglePasswordHidden()">
              <mat-icon class="material-icons-outlined mask-icon">{{
                isPasswordHidden ? "visibility_off" : "visibility"
              }}</mat-icon>
            </div>
          </div>
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="password?.errors?.['required']"
              >Password is required</small
            >
          </div>
        </div>
      </div>
      <div class="forgot" (click)="forgot()" type="button">
        Forgot Password?
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
