<div class="sidebar" [class.hide]="!isShowMobileNav">
  <div class="logo">
    <span class="material-symbols-rounded"> school </span>
    <span>Educate University</span>
  </div>
  <nav>
    <div class="close" (click)="closeMobileNav()">
      <span class="material-symbols-rounded"> close </span>
    </div>
    <div class="link" routerLink="/parent/home" routerLinkActive="link-active">
      <span class="material-symbols-rounded"> home </span>
      <span>Home</span>
    </div>
    <div
      class="link"
      routerLink="/parent/attendance"
      routerLinkActive="link-active"
    >
      <span class="material-symbols-rounded"> calendar_month </span>
      <span>Attendance</span>
    </div>
    <div
      class="link"
      routerLink="/parent/grades"
      routerLinkActive="link-active"
    >
      <span class="material-symbols-rounded"> grade </span>
      <span>Grade</span>
    </div>
  </nav>
</div>

<main [class.overflow-hidden]="isShowMobileNav">
  <header>
    <div class="left-header">
      <div class="menu-icon" (click)="openMobileNav()">
        <span class="material-symbols-rounded"> menu </span>
      </div>
      <div class="location">{{ getLocation() }}</div>
    </div>
    <div class="right-header">
      <div class="profile">
        <div class="avatar" (click)="toggleShowDropdown()">
          <img
            src="{{
              this.image ||
                '../../../../../../../assets/images/blank-profile.jpg'
            }}"
            alt="Profile Image"
          />
        </div>
        <div class="name">
          <div class="type">
            <span>{{ this.name }}</span>
            <div>Parent</div>
          </div>
          <div class="arrow" (click)="toggleShowDropdown()">
            <span
              class="material-symbols-rounded arrow"
              [class.arrow-active]="isShowDropdown"
            >
              expand_more
            </span>
          </div>
        </div>

        <div class="dropdown" [class.dropdown-active]="isShowDropdown">
          <div class="dropdown-link" (click)="profile()">Profile</div>
          <div class="dropdown-link" (click)="logout()">Logout</div>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</main>
