@import "../../../../../variables.scss";

.container-background {
  height: 700px;
  background-position: center;
  background-size: cover;
  animation: image 10s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem;
  gap: 0.5rem;
  color: var(--white);
}

@keyframes image {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)),
      url("../../../../../assets/images/school1.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)),
      url("../../../../../assets/images/school2.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)),
      url("../../../../../assets/images/school3.jpg");
  }
}

.title {
  font-size: 5rem;
}

.container-paragraph {
  width: 1000px;
  text-align: justify;
}

p-divider {
  width: 1000px;
}

.button-apply {
  margin-top: 2rem;
}

.section-about {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7rem;
}

.section-vision-mission {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 3rem;
  background-color: var(--primary);
}

.divider-mission {
  background-color: var(--very-dark-blue);
}

.column {
  flex-basis: 50%;
}

.column h2 {
  font-size: 3rem;
}

.column p {
  text-align: justify;
}

.section-why {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.section-facts {
  height: 500px;
}
