<app-header></app-header>
<section class="hero">
  <div class="container">
    <div
      class="content"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-easing="ease-in-out"
    >
      <div class="head">Getting Best</div>
      <div class="head">Quality Education</div>
      <div class="head">Is Now More Easier</div>
      <p class="apply">Apply now through our online college application</p>
      <button>Apply now</button>
    </div>
  </div>
</section>

<section class="best">
  <div class="best-container">
    <div
      class="question"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-easing="ease-in-out"
    >
      <div class="quest">Why we are the best from others?</div>
      <p class="quest-description">
        We prioritize not only academic success but also the development of
        character, critical thinking skills, and social responsibility,
        preparing students for success in all aspects of life
      </p>
    </div>
    <div class="cards">
      <div
        class="card"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="card-icon">
          <mat-icon class="material-icons-outlined">event_note</mat-icon>
        </div>
        <div class="card-title">Best Curriculum</div>
        <div class="card-content">
          Our curriculum is thoughtfully designed to foster a deep understanding
          of core subjects while promoting critical thinking, creativity, and
          lifelong learning skills.
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="card-icon">
          <mat-icon class="material-icons-outlined">man_4</mat-icon>
        </div>
        <div class="card-title">Best Professors</div>
        <div class="card-content">
          Our professors are highly knowledgeable, passionate, and dedicated
          individuals who inspire and challenge students to reach new heights of
          academic excellence.
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
      >
        <div class="card-icon">
          <mat-icon class="material-icons-outlined">description</mat-icon>
        </div>
        <div class="card-title">Best Program</div>
        <div class="card-content">
          Offers a learning experience that equips students with the skills,
          knowledge, and real-world application they need to excel in their
          chosen field.
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
      >
        <div class="card-icon">
          <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
        </div>
        <div class="card-title">Creative Thinking</div>
        <div class="card-content">
          A catalyst for innovation and problem-solving, unlocking boundless
          possibilities and empowering individuals to think outside the box.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="activity">
  <div class="activity-container">
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-easing="ease-in-out"
    >
      <div class="section-title">Join University Activites</div>
      <p class="activity-description">
        Discover a plethora of activities from our school, from art and crafts
        workshops to sports leagues and music lessons. Whether you're seeking
        personal enrichment or looking to connect with others who share your
        passions, our platform offers an array of exciting options.
      </p>
    </div>
    <div class="images">
      <div class="div-1">
        <div
          class="image"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-easing="ease-in-out"
        >
          <img
            src="../../../../../assets/images/act1.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
        <div
          class="image"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-easing="ease-in-out"
        >
          <img
            src="../../../../../assets/images/act2.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
      </div>
      <div class="div-2">
        <div
          class="image"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-easing="ease-in-out"
        >
          <img src="../../../../../assets/images/act3.jpg" alt="Image" />
        </div>
        <div
          class="image"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-easing="ease-in-out"
        >
          <img src="../../../../../assets/images/act4.jpg" alt="Image" />
        </div>
      </div>
      <div class="div-3">
        <div
          class="image"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-easing="ease-in-out"
        >
          <img
            src="../../../../../assets/images/act5.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="testimonial-container">
    <div
      class="section-title test"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-easing="ease-in-out"
    >
      Student Testimonials
    </div>

    <div class="testimonial-cards">
      <div
        class="card"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="c-img">
          <div class="card-image">
            <img
              src="../../../../../assets/images/student1.jpg"
              alt="Image"
              class="scale-down"
            />
          </div>
          <div class="card-title">Jennifer Smith</div>
        </div>
        <div class="card-content">
          "I am immensely grateful for the exceptional education and support I
          received. It has truly prepared me for success in both academics and
          life."
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="c-img">
          <div class="card-image">
            <img
              src="../../../../../assets/images/student2.jpg"
              alt="Image"
              class="scale-down"
            />
          </div>
          <div class="card-title">Benjamin Thompson</div>
        </div>
        <div class="card-content">
          "Provided me a nurturing environment where I could grow academically
          and personally. It instilled in me a love for learning that will stay
          with me forever."
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="c-img">
          <div class="card-image">
            <img
              src="../../../../../assets/images/student3.jpg"
              alt="Image"
              class="scale-down"
            />
          </div>
          <div class="card-title">Michael Johnson</div>
        </div>
        <div class="card-content">
          "I am forever grateful for the knowledge and skills I acquired. It
          prepared me for the challenges of higher education and beyond."
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="c-img">
          <div class="card-image">
            <img
              src="../../../../../assets/images/student4.jpg"
              alt="Image"
              class="scale-down"
            />
          </div>
          <div class="card-title">Emily Davis</div>
        </div>
        <div class="card-content">
          "I am immensely grateful for the exceptional education and support I
          received. It has truly prepared me for success in both academics and
          life."
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="c-img">
          <div class="card-image">
            <img
              src="../../../../../assets/images/student5.jpg"
              alt="Image"
              class="scale-down"
            />
          </div>
          <div class="card-title">Sophia Rodriguez</div>
        </div>
        <div class="card-content">
          "Fostered a sense of community and belonging that made my school years
          memorable. The friendships and memories I made will last a lifetime."
        </div>
      </div>
    </div>

    <div class="carousel">
      <div class="testimonial-images">
        <div class="circle-image circle-1">
          <img
            src="../../../../../assets/images/student1.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
        <div class="circle-image circle-2">
          <img
            src="../../../../../assets/images/student2.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
        <div class="circle-image circle-3">
          <img src="../../../../../assets/images/student3.jpg" alt="Image" />
        </div>
        <div class="circle-image circle-4">
          <img
            src="../../../../../assets/images/student4.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
        <div class="circle-image circle-5">
          <img
            src="../../../../../assets/images/student5.jpg"
            alt="Image"
            class="scale-down"
          />
        </div>
      </div>
      <div class="test-content">
        <div class="content-1">
          <div class="name">Jennifer Smith</div>
          <div class="message">
            "I am immensely grateful for the exceptional education and support I
            received. It has truly prepared me for success in both academics and
            life."
          </div>
        </div>
        <div class="content-2">
          <div class="name">Benjamin Thompson</div>
          <div class="message">
            "Provided me a nurturing environment where I could grow academically
            and personally. It instilled in me a love for learning that will
            stay with me forever."
          </div>
        </div>
        <div class="content-3">
          <div class="name">Michael Johnson</div>
          <div class="message">
            "I am forever grateful for the knowledge and skills I acquired. It
            prepared me for the challenges of higher education and beyond."
          </div>
        </div>
        <div class="content-4">
          <div class="name">Emily Davis</div>
          <div class="message">
            "The dedicated faculty inspired and motivated me to strive for
            excellence. Their guidance and mentorship have shaped my academic
            journey."
          </div>
        </div>
        <div class="content-5">
          <div class="name">Sophia Rodriguez</div>
          <div class="message">
            "Fostered a sense of community and belonging that made my school
            years memorable. The friendships and memories I made will last a
            lifetime."
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
