<main>
  <div class="table" *ngIf="!hasSchedule">
    <div class="table-header">
      <div class="btn-container">
        <button
          (click)="onConfirm()"
          class="request"
          title="Request for Approval"
        >
          <span class="material-symbols-rounded"> assignment_turned_in </span>
        </button>
        <button class="reset" (click)="reset()" title="Reset">
          <span class="material-symbols-rounded"> restart_alt </span>
        </button>
      </div>
      <div class="filter">
        <p-dropdown
          [options]="sections"
          placeholder="Select a section"
          appendTo="body"
          [style]="{ width: '100%' }"
          [(ngModel)]="selectedSection"
          (ngModelChange)="onChangeSection($event)"
          [style]="{
            width: '100%',
          }"
        ></p-dropdown>
        <div class="search-container">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            [style]="{
              width: '100%',
              paddingLeft: '2.5rem'
            }"
            placeholder="Search"
            [(ngModel)]="search"
            (ngModelChange)="onSearchChange($event)"
          />
        </div>
      </div>
    </div>
    <p-table
      [(selection)]="selectedSchedules"
      [dataKey]="schedules.subject"
      [value]="schedules"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      [rowsPerPageOptions]="[10, 15, 20]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Subject</th>
          <th>Day</th>
          <th>Time</th>
          <th>Room</th>
          <th>Section</th>
          <th>Professor</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sched>
        <ng-container
          *ngIf="sched.room.roomCapacity >= sched.room.numOfStudents"
        >
          <ng-container *ngIf="sched.activeDeactive">
            <ng-container *ngIf="sched.subject.activeDeactive">
              <ng-container *ngIf="sched.section.activeDeactive">
                <tr>
                  <td>
                    <p-tableCheckbox [value]="sched"></p-tableCheckbox>
                  </td>
                  <td>
                    <div class="subject-container">
                      <div>{{ sched.subject.subjectTitle }}</div>
                      <div class="subject-description">
                        <div
                          class="type {{
                            sched.subject.type == 'Major'
                              ? 'major'
                              : sched.subject.type == 'Minor'
                              ? 'minor'
                              : 'elective'
                          }}"
                        >
                          {{ sched.subject.type }}
                        </div>
                        <div class="units">{{ sched.subject.units }} units</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <ng-container *ngFor="let day of sched.days">{{
                      day == "Monday"
                        ? "M"
                        : day == "Tuesday"
                        ? "T"
                        : day == "Wednesday"
                        ? "W"
                        : day == "Thursday"
                        ? "Th"
                        : day == "Friday"
                        ? "F"
                        : "S"
                    }}</ng-container>
                  </td>
                  <td>
                    {{ convertTime(sched.startTime) }} -
                    {{ convertTime(sched.endTime) }}
                  </td>
                  <td>{{ sched.room.roomNumber }}</td>
                  <td>{{ sched.section.section }}</td>
                  <td>
                    <div class="professor-container">
                      <div class="avatar-container">
                        <div class="avatar">
                          <img
                            src="{{
                              sched.professor.image ||
                                '../../../../../../../assets/images/blank-profile.jpg'
                            }}"
                            alt="Prof Image"
                          />
                        </div>
                      </div>
                      <div class="name">{{ sched.professor.fullname }}</div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
  <div class="table" *ngIf="hasSchedule">
    <div class="card-container">
      <ng-container *ngFor="let load of sched; index as i">
        <ng-container *ngIf="load.activeDeactive">
          <ng-container *ngIf="load.subject.activeDeactive">
            <ng-container *ngIf="load.section.activeDeactive">
              <ng-container
                *ngIf="load.room.roomCapacity >= load.room.numOfStudents"
              >
                <div class="card" (click)="onStudentsTable(load)">
                  <div class="card-image">
                    <img
                      src="../../../../../assets/images/banner2.jpg"
                      alt="Card Image"
                    />
                  </div>
                  <div class="card-body">
                    <div class="title">{{ load.subject.subjectTitle }}</div>
                    <div class="schedule">
                      <ng-container *ngFor="let day of load.days">{{
                        day == "Monday"
                          ? "M"
                          : day == "Tuesday"
                          ? "T"
                          : day == "Wednesday"
                          ? "W"
                          : day == "Thursday"
                          ? "Th"
                          : day == "Friday"
                          ? "F"
                          : "S"
                      }}</ng-container>
                      ({{ convertTime(load.startTime) }} -
                      {{ convertTime(load.endTime) }})
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>Section: {{ load.section.section }}</div>
                    <div>Room: {{ load.room.roomNumber }}</div>
                  </div>
                </div></ng-container
              >
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>

<p-dialog
  [(visible)]="confirmationDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  <div class="modal-body">
    Are you sure you want to request approval on these subjects?
  </div>
  <div class="actions">
    <button class="action-btn cancel" (click)="onClose()">Cancel</button>
    <button class="action-btn submit" (click)="onRequest()">Confirm</button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="errorDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Error</div>
  </p-header>
  <div class="modal-body">
    {{ errorMessage }}
  </div>
  <div class="actions">
    <button class="action-btn submit" (click)="onOkError()">OK</button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="successDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Success</div>
  </p-header>
  <div class="modal-body">
    Thank you for submitting your requested subjects. Please await an email
    notification regarding the approval status of your subjects.
  </div>
  <div class="actions">
    <button class="action-btn submit" (click)="onOkSuccess()">OK</button>
  </div>
</p-dialog>
