@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
}

.table {
  padding: 1.5rem;
  overflow-x: auto;
}

.table-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.units-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.selected-unit,
.minimum-unit,
.maximum-unit {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--white);
}

.selected-unit {
  background-color: var(--yellow);
}

.minimum-unit {
  background-color: var(--orange);
}

.maximum-unit {
  background-color: var(--light-red);
}

.pi-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
}

tr td {
  text-align: center;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.search-container {
  position: relative;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.request {
  background-color: var(--green);
}

.reset {
  background-color: var(--light-red);
}

span {
  font-size: 1.75rem;
  color: var(--white);
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subject-container,
.professor-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.25rem;
}

.subject-description {
  width: 50%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 0.5rem;
  margin: 0 auto;
  font-size: 0.875rem;
}

.type,
.units {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: var(--white);
  background-color: #fff;
}

.major {
  background-color: var(--light-red);
}

.minor {
  background-color: var(--orange);
}

.elective {
  background-color: var(--light-blue);
}

.units {
  background-color: var(--yellow);
}

.name {
  font-size: 0.875rem;
}

.modal-title {
  font-size: clamp(1.125rem, 0.8811rem + 1.2195vw, 2rem);
  font-weight: 300;
}

.modal-body {
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  font-weight: 300;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.action-btn {
  width: 7.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.625rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: var(--darker-primary);
}

.cancel {
  color: var(--red);
  background-color: var(--white);
  border: 1px solid var(--red);
}

.cancel:hover,
.cancel:focus {
  color: var(--white);
  background-color: var(--red);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.card {
  min-width: 280px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.card-image:hover img {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms ease-in-out;
}

.card-body,
.card-footer {
  padding: 1rem;
  cursor: pointer;
}

.title {
  font-size: clamp(1.125rem, 1.0274rem + 0.4878vw, 1.375rem);
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule {
  margin-top: 0.25rem;
  font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
  font-weight: 300;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card-footer > div {
  font-weight: 300;
}

.room-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.room-students {
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .table-header {
    flex-direction: row;
  }

  .filter {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .units-container {
    flex-direction: row;
  }

  .units-container > div {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
