<main>
  <div class="table" *ngIf="!hasSchedule">
    <p-table
      [(selection)]="schedules"
      [dataKey]="schedules.schedId"
      #dt
      [value]="schedules"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['subjectCode', 'subjectTitle']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="action-container">
            <ng-container *ngIf="selectedSubjects.length > 0">
              <button class="submit-btn" (click)="onClickSubmit()">
                Request for Approval
              </button>
            </ng-container>
          </div>
          <span [style]="{ position: 'relative' }">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              [style]="{
                width: '16rem',
                paddingLeft: '2.5rem'
              }"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Subject</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Day</th>
          <th>Time</th>
          <th>Section</th>
          <th>Room</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sched>
        <tr>
          <td>
            <p-tableCheckbox [value]="sched"></p-tableCheckbox>
          </td>
          <td>{{ sched.subject.subjectTitle }}</td>
          <td>{{ sched.startDate }}</td>
          <td>{{ sched.endDate }}</td>
          <td>
            <ng-container *ngFor="let day of sched.days">{{
              day == "Monday"
                ? "M"
                : day == "Tuesday"
                ? "T"
                : day == "Wednesday"
                ? "W"
                : day == "Thursday"
                ? "Th"
                : day == "Friday"
                ? "F"
                : "S"
            }}</ng-container>
          </td>
          <td>{{ sched.startTime }} - {{ sched.endTime }}</td>
          <td>{{ sched.section.section }}</td>
          <td>{{ sched.room.roomNumber }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card-container" *ngIf="hasSchedule">
    <p-card header="Introduction to Prog" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Lebron James
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="Code of Ethics" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Steph Curry
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="Database Management" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Michael Jordan
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
      <button class="action-btn" (click)="onClickEvaluate()">Evaluate</button>
    </p-card>
  </div>
</main>

<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">{{ title }}</div>
  </p-header>

  <form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()">
    <div
      class="radio-container-row"
      *ngFor="let question of evaluationQuestions"
    >
      <p>{{ question.sentence }}</p>
      <ng-container *ngFor="let rating of question.ratings">
        <div class="radio-item">
          <p-radioButton
            [inputId]="rating.key"
            [value]="rating"
            [formControlName]="question.sentence"
          ></p-radioButton>
          <label [for]="rating.key">{{ rating.name }}</label>
        </div>
      </ng-container>
    </div>
    <div class="actions">
      <button type="submit" class="action-btn submit">Submit</button>
    </div>
  </form>
</p-dialog>
