<main>
  <div class="card-container">
    <p-card header="Introduction to Prog" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Lebron James
    </p-card>
    <p-card header="Code of Ethics" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Steph Curry
    </p-card>
    <p-card header="Database Management" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Michael Jordan
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
    </p-card>
    <p-card header="NSTP" subheader="MWF 11:30 - 1:00">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      Mr. Larry Bird
    </p-card>
  </div>
</main>
