@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  background-color: var(--light-grayish-blue);
  padding: 2rem;
}

mat-icon {
  color: var(--white);
}

.table {
  background-color: var(--white);
  height: max-content;
  overflow-x: auto;
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
}

tr td {
  text-align: center;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.875rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2.75rem;
  color: var(--white);
  background-color: var(--primary);
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--darker-primary);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.pi-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.modal-title {
  font-size: clamp(1.125rem, 0.8811rem + 1.2195vw, 1.75rem);
  font-weight: 400;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 992px) {
  button {
    width: 100%;
  }

  .form-group {
    grid-template-columns: repeat(1, 1fr);
  }
}
