@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  background-color: var(--light-grayish-blue);
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 2rem;
}

mat-icon {
  color: var(--primary);
}

.table {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  overflow-x: auto;
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
}

tr td {
  text-align: center;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.875rem;
}

.add {
  padding: 0.75rem 2.75rem;
  color: var(--white);
  background-color: var(--primary);
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

.add:hover,
.add:focus {
  background-color: var(--darker-primary);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.action-btn {
  width: 7.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.625rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: var(--darker-primary);
}

.cancel {
  color: var(--red);
  background-color: var(--white);
  border: 1px solid var(--red);
}

.cancel:hover,
.cancel:focus {
  color: var(--white);
  background-color: var(--red);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.pi-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.modal-title {
  font-size: clamp(1.125rem, 0.8811rem + 1.2195vw, 1.75rem);
  font-weight: 400;
}

.last-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.pic {
  position: relative;
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.close-icon {
  position: absolute;
  top: 0;
  right: -1.625rem;
  font-size: 1.25rem;
  z-index: 10;
  cursor: pointer;
}

.img-active {
  display: block;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 768px) {
  .form-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
