@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}

// Left Container
.left-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
}

.bar-chart {
  height: 500px;
  width: 950px;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.25rem;
  text-align: center;
}

.student-course-container {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr;
  gap: 1rem;
}

.student-course {
  height: 90px;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  gap: 2rem;
}

.course-img-container {
  height: 70px;
  width: 70px;
}

.course-img {
  height: 100%;
  width: 100%;
}

.course-title {
  font-size: 1.3rem;
  padding-top: 1.3rem;
}

// Right Container
.right-container {
  width: 700px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

.profile-img-container {
  width: clamp(6rem, 4.5185rem + 7.4074vw, 11rem);
  height: clamp(6rem, 4.5185rem + 7.4074vw, 11rem);
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-name-label {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.calendar-container {
  padding: 1rem 5rem;
}
