<main>
  <div class="box">
    <div class="header">
      <div class="title">
        <div class="subject">Students</div>
        <div class="header-action">
          <p-dropdown
            [options]="groupedSections"
            [(ngModel)]="selectedSection"
            (ngModelChange)="onProgChange()"
            placeholder="Select a Section"
            optionValue="value"
            [group]="true"
            [style]="{ width: '13rem' }"
          >
          </p-dropdown>
          <p-dropdown
            [(ngModel)]="selectedSubject"
            (ngModelChange)="onProgChange()"
            [options]="subjects"
            optionLabel="name"
            placeholder="Select a Subject"
            [style]="{ width: '13rem' }"
          ></p-dropdown>
        </div>
      </div>
      <!-- change information according to what the user selected in the dropdown -->
    </div>
    <div class="table">
      <p-table
        [value]="students"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 25%">Name</th>
            <th style="width: 20%">Section</th>
            <th style="width: 20%">Grade</th>
            <th style="width: 20%">Remark</th>
            <th style="width: 15%">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.section }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.remarks }}</td>
            <td>
              <div class="table-actions">
                <button (click)="onClickEdit()">
                  <mat-icon
                    class="material-icons-outlined"
                    pTooltip="Edit grades and remarks"
                    >edit</mat-icon
                  >
                </button>
                <button (click)="onClickUpload()">
                  <mat-icon
                    class="material-icons-outlined"
                    pTooltip="Upload to school portal"
                    tooltipPosition="top"
                    >upload</mat-icon
                  >
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</main>
