<main>
  <div class="table">
    <div class="table-header">
      <div class="btn-container">
        <button class="reset" title="Reset" (click)="reset()">
          <span class="material-symbols-rounded table-header-icon">
            restart_alt
          </span>
        </button>
      </div>
      <div class="filter">
        <div class="search-container">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            [style]="{
              width: '100%',
              minWidth: '16rem',
              paddingLeft: '2.5rem'
            }"
            placeholder="Search"
            [(ngModel)]="search"
            (ngModelChange)="onChangeSearch($event)"
          />
        </div>
      </div>
    </div>
    <p-table
      [value]="parents"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%">Name</th>
          <th style="width: 25%">Mobile Number</th>
          <th style="width: 25%">Relationship</th>
          <th style="width: 20%">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-parent>
        <tr>
          <td>
            {{ parent.firstname }} {{ parent.middlename }} {{ parent.lastname }}
          </td>
          <td>{{ parent.contact }}</td>
          <td>{{ parent.relationship }}</td>
          <td>
            <div class="{{ parent.activeDeactive ? 'active' : 'inactive' }}">
              {{ parent.activeDeactive ? "Active" : "Inactive" }}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to
  {{ status ? "activate" : "deactivate" }} this section?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteParent()">Yes</button>
  </div>
</p-dialog>
