<main>
  <div class="table">
    <p-table
      #dt
      [value]="parents"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['firstname', 'lastname', 'contact']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span [style]="{ position: 'relative' }">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              [style]="{
                width: '16rem',
                paddingLeft: '2.5rem'
              }"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Name</th>
          <th style="width: 20%">Mobile Number</th>
          <th style="width: 20%">Relationship</th>
          <th style="width: 20%">Status</th>
          <th style="width: 20%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-parent>
        <tr>
          <td>
            {{ parent.firstname }} {{ parent.middlename }} {{ parent.lastname }}
          </td>
          <td>{{ parent.contact }}</td>
          <td>{{ parent.relationship }}</td>
          <td>
            <div class="{{ parent.activeDeactive ? 'active' : 'inactive' }}">
              {{ parent.activeDeactive ? "Active" : "Inactive" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button
                class="table-action {{
                  !parent.activeDeactive ? 'activate' : 'deactive'
                }}"
                (click)="onClickRemove(parent)"
              >
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Remove program"
                  >block</mat-icon
                >
                <span>{{
                  !parent.activeDeactive ? "Activate" : "Deactivate"
                }}</span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to
  {{ status ? "activate" : "deactivate" }} this section?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteParent()">Yes</button>
  </div>
</p-dialog>
