:root {
  /* Main colors */
  --primary: #975df6;
  --darker-primary: #823af5;
  --white: #ffffff;
  --very-dark-blue: #0c0c1a;
  --very-dark-saturated-blue: #2a285a;

  /* Additional colors */
  --light-grayish-violet: #e8ddfb;
  --green: #5fcc89;
  --blue: #58b9f8;
  --yellow: goldenrod;
  --light-red: rgb(241, 87, 112);
  --light-blue: rgb(94, 161, 238);
  --light-grayish-blue: #eff2fa;
  --red: #f14242f1;
}
