@import "../../../../../variables.scss";

main {
  min-height: calc(100vh - 4rem);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.form,
.table {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  height: max-content;
}

.table {
  overflow-x: auto;
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
}

tr td {
  text-align: center;
}

h2 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.edit mat-icon {
  color: var(--very-dark-saturated-blue);
}

.edit:hover {
  cursor: pointer;
}

.remove mat-icon {
  color: red;
}

.remove:hover {
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.875rem;
}

.button-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

button {
  width: 9rem;
  margin-top: 0.5rem;
  padding: 0.875rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.25rem;
  cursor: pointer;
}

#clear {
  width: 9rem;
  margin-top: 0.5rem;
  padding: 0.875rem;
  border: 1px solid var(--primary);
  font-size: 1rem;
  color: var(--very-dark-saturated-blue);
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--darker-primary);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.pi-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.modal-title {
  font-size: clamp(1.125rem, 0.8811rem + 1.2195vw, 1.75rem);
  font-weight: 400;
}
