<main>
  <div class="table">
    <p-table
      #dt
      [value]="schedules"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['program', 'subject']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <button class="add" (click)="onClickAdd()">ADD</button>
          <span [style]="{ position: 'relative' }">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              [style]="{
                width: '16rem',
                paddingLeft: '2.5rem'
              }"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 16%">Subject</th>
          <th style="width: 12%">Day</th>
          <th style="width: 12%">Start Time</th>
          <th style="width: 12%">End Time</th>
          <th style="width: 12%">Section</th>
          <th style="width: 12%">Room</th>
          <th style="width: 12%">Status</th>
          <th style="width: 12%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sched>
        <tr>
          <td>{{ sched.subject.subjectTitle }}</td>
          <td>{{ sched.day }}</td>
          <td>{{ sched.startTime }}</td>
          <td>{{ sched.endTime }}</td>
          <td>{{ sched.section.section }}</td>
          <td>{{ sched.room.roomNumber }}</td>
          <td>
            <div class="{{ sched.activeDeactive ? 'active' : 'inactive' }}">
              {{ sched.activeDeactive ? "Active" : "Inactive" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button class="table-action edit" (click)="onClickEdit(sched)">
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Edit program"
                  >edit</mat-icon
                >
                <span>Edit</span>
              </button>
              <button
                class="table-action {{
                  !sched.activeDeactive ? 'activate' : 'deactive'
                }}"
                (click)="onClickRemove(sched)"
              >
                <mat-icon
                  class="material-icons-outlined"
                  pTooltip="Remove program"
                  >block</mat-icon
                >
                <span>{{
                  !sched.activeDeactive ? "Activate" : "Deactivate"
                }}</span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>

<p-dialog
  [(visible)]="isDeleteDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">Confirmation</div>
  </p-header>
  Are you sure you want to
  {{ !status ? "activate" : "deactivate" }} this schedule?
  <div class="actions">
    <button class="action-btn cancel" (click)="onCloseDeleteDialog()">
      Cancel
    </button>
    <button class="action-btn submit" (click)="onDeleteSchedule()">Yes</button>
  </div>
</p-dialog>
