<div class="sidebar" [class.hide]="!isShowMobileNav">
  <div class="logo">
    <span class="material-symbols-rounded"> school </span>
    <span>Educate University</span>
  </div>
  <nav>
    <div class="close" (click)="closeMobileNav()">
      <span class="material-symbols-rounded"> close </span>
    </div>
    <div class="link" routerLink="/admin/home" routerLinkActive="link-active">
      <span class="material-symbols-rounded"> home </span>
      <span>Home</span>
    </div>
    <div class="link" routerLink="/admin/course" routerLinkActive="link-active">
      <span class="material-symbols-rounded"> menu_book </span>
      <span>Course</span>
    </div>
    <div
      class="link"
      routerLink="/admin/program"
      routerLinkActive="link-active"
    >
      <span class="material-symbols-rounded"> description </span>
      <span>Program</span>
    </div>
    <div
      class="link"
      routerLink="/admin/section"
      routerLinkActive="link-active"
    >
      <span class="material-symbols-rounded"> safety_divider </span>
      <span>Section</span>
    </div>
    <div class="link" routerLink="/admin/room" routerLinkActive="link-active">
      <span class="material-symbols-rounded"> meeting_room </span>
      <span>Room</span>
    </div>
    <div
      class="link"
      routerLink="/admin/professor"
      routerLinkActive="link-active"
    >
      <span class="material-symbols-rounded"> man_4 </span>
      <span>Professor</span>
    </div>
    <div
      class="link"
      routerLink="/admin/student"
      routerLinkActive="link-active"
    >
      <span class="material-symbols-rounded"> man </span>
      <span>Student</span>
    </div>
    <div class="link" routerLink="/admin/parent" routerLinkActive="link-active">
      <span class="material-symbols-rounded"> escalator_warning </span>
      <span>Parent</span>
    </div>
  </nav>
</div>

<main [class.overflow-hidden]="isShowMobileNav">
  <header>
    <div class="left-header">
      <div class="menu-icon" (click)="openMobileNav()">
        <span class="material-symbols-rounded"> menu </span>
      </div>
      <div class="location">{{ getLocation() }}</div>
    </div>
    <div class="right-header">
      <button class="setup" (click)="openDialog()">SETUP</button>
      <div class="profile">
        <div class="avatar" (click)="toggleShowDropdown()">
          <img src="../../../../assets/images/itachi.jpg" alt="Profile Image" />
        </div>
        <div class="name">
          <div class="type">
            <span
              >{{ admin.firstname }} {{ admin.middlename }}
              {{ admin.lastname }}</span
            >
            <div>Admin</div>
          </div>
          <div class="arrow" (click)="toggleShowDropdown()">
            <span
              class="material-symbols-rounded arrow"
              [class.arrow-active]="isShowDropdown"
            >
              expand_more
            </span>
          </div>
        </div>

        <div class="dropdown" [class.dropdown-active]="isShowDropdown">
          <div class="dropdown-link" (click)="profile()">Profile</div>
          <div class="dropdown-link" (click)="logout()">Logout</div>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</main>

<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">School Calendar</div>
  </p-header>
  <div
    class="alert {{
      alertStatus == 'Success' ? 'alert-success' : 'alert-error'
    }}"
    *ngIf="alert"
  >
    <mat-icon
      class="material-icons-outlined alert-icon"
      *ngIf="alertStatus == 'Error'"
      >error</mat-icon
    >
    <mat-icon
      class="material-icons-outlined alert-icon"
      *ngIf="alertStatus == 'Success'"
      >check</mat-icon
    >
    {{ alertMessage }}
  </div>
  <form [formGroup]="setupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <label>Start of Enrollment:</label>
        <p-calendar
          formControlName="startEnrollement"
          placeholder="Select start of enrollment date"
          [style]="{ width: '100%' }"
          appendTo="body"
          [(ngModel)]="startEnrollement"
        ></p-calendar>
        <div
          *ngIf="
            enrolmentStart.invalid &&
            (enrolmentStart?.dirty || enrolmentStart?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="enrolmentStart?.errors?.['required']"
            >Start of enrollment is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>End of Enrollment:</label>
        <p-calendar
          formControlName="endEnrollment"
          placeholder="Select end of enrollment date"
          [style]="{ width: '100%' }"
          appendTo="body"
          [(ngModel)]="endEnrollment"
        ></p-calendar>
        <div
          *ngIf="
            enrolmentEnd.invalid &&
            (enrolmentEnd?.dirty || enrolmentEnd?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="enrolmentEnd?.errors?.['required']"
            >End of enrollment is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Start of Classes:</label>
        <p-calendar
          formControlName="startClass"
          placeholder="Select start of classes date"
          [style]="{ width: '100%' }"
          appendTo="body"
          [(ngModel)]="startClass"
        ></p-calendar>
        <div
          *ngIf="
            classStart.invalid && (classStart?.dirty || classStart?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="classStart?.errors?.['required']"
            >Start of classes is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>End of Classes:</label>
        <p-calendar
          formControlName="endClass"
          placeholder="Select end of classes date"
          [style]="{ width: '100%' }"
          appendTo="body"
          [(ngModel)]="endClass"
        ></p-calendar>
        <div *ngIf="classEnd.invalid && (classEnd?.dirty || classEnd?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="classEnd?.errors?.['required']"
            >End of classes is required</small
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="action-btn cancel" type="button" (click)="closeDialog()">
        Cancel
      </button>
      <button class="action-btn submit" type="submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="modal-title">School Calendar</div>
  </p-header>
  <div
    class="alert {{
      alertStatus == 'Success' ? 'alert-success' : 'alert-error'
    }}"
    *ngIf="alert"
  >
    <mat-icon
      class="material-icons-outlined alert-icon"
      *ngIf="alertStatus == 'Error'"
      >error</mat-icon
    >
    <mat-icon
      class="material-icons-outlined alert-icon"
      *ngIf="alertStatus == 'Success'"
      >check</mat-icon
    >
    {{ alertMessage }}
  </div>
  <form [formGroup]="setupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <label>Start of Enrollment:</label>
        <p-calendar
          formControlName="startEnrollement"
          placeholder="Select start of enrollment date"
          [style]="{ width: '100%' }"
          appendTo="body"
        ></p-calendar>
        <div
          *ngIf="
            enrolmentStart.invalid &&
            (enrolmentStart?.dirty || enrolmentStart?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="enrolmentStart?.errors?.['required']"
            >Start of enrollment is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>End of Enrollment:</label>
        <p-calendar
          formControlName="endEnrollment"
          placeholder="Select end of enrollment date"
          [style]="{ width: '100%' }"
          appendTo="body"
        ></p-calendar>
        <div
          *ngIf="
            enrolmentEnd.invalid &&
            (enrolmentEnd?.dirty || enrolmentEnd?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="enrolmentEnd?.errors?.['required']"
            >End of enrollment is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Start of Classes:</label>
        <p-calendar
          formControlName="startClass"
          placeholder="Select start of classes date"
          [style]="{ width: '100%' }"
          appendTo="body"
        ></p-calendar>
        <div
          *ngIf="
            classStart.invalid && (classStart?.dirty || classStart?.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="classStart?.errors?.['required']"
            >Start of classes is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>End of Classes:</label>
        <p-calendar
          formControlName="endClass"
          placeholder="Select end of classes date"
          [style]="{ width: '100%' }"
          appendTo="body"
        ></p-calendar>
        <div *ngIf="classEnd.invalid && (classEnd?.dirty || classEnd?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="classEnd?.errors?.['required']"
            >End of classes is required</small
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="action-btn cancel" type="button" (click)="closeDialog()">
        Cancel
      </button>
      <button class="action-btn submit" type="submit">Save</button>
    </div>
  </form>
</p-dialog>
