<div class="container">
  <div class="sidebar">
    <div class="logo">
      <mat-icon class="material-icons-outlined">school</mat-icon
      ><span>SMA University</span>
    </div>
    <nav>
      <div class="links">
        <div
          class="link"
          routerLink="/admin/home"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">home</mat-icon>
          <span>Home</span>
        </div>
        <div
          class="link"
          routerLink="/admin/program"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">description</mat-icon>
          <span>Program</span>
        </div>
        <div
          class="link"
          routerLink="/admin/course"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">menu_book</mat-icon>
          <span>Course</span>
        </div>
        <div
          class="link"
          routerLink="/admin/curriculum"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">event_note</mat-icon>
          <span>Curriculum</span>
        </div>
        <div
          class="link"
          routerLink="/admin/professor"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">man_4</mat-icon>
          <span>Professor</span>
        </div>
        <div
          class="link"
          routerLink="/admin/section"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">safety_divider</mat-icon>
          <span>Section</span>
        </div>
        <div
          class="link"
          routerLink="/admin/room"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">meeting_room</mat-icon>
          <span>Room</span>
        </div>

        <div
          class="link"
          routerLink="/admin/schedule"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">event_available</mat-icon>
          <span>Class Schedule</span>
        </div>
        <div
          class="link"
          routerLink="/admin/student"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">man</mat-icon>
          <span>Student</span>
        </div>
        <div
          class="link"
          routerLink="/admin/parent"
          routerLinkActive="link-active"
        >
          <mat-icon class="material-icons-outlined">escalator_warning</mat-icon>
          <span>Parent</span>
        </div>
      </div>
    </nav>
  </div>

  <div class="mobile-nav" [class.close-dropdown-mobile]="isShowMobileNav">
    <div class="close-icon" (click)="closeMobileNav()">
      <mat-icon fontIcon="close"></mat-icon>
    </div>
    <nav>
      <div class="links">
        <div
          class="link"
          routerLink="/admin/home"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">home</mat-icon>
          <span>Home</span>
        </div>
        <div
          class="link"
          routerLink="/admin/program"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">description</mat-icon>
          <span>Program</span>
        </div>
        <div
          class="link"
          routerLink="/admin/course"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">menu_book</mat-icon>
          <span>Course</span>
        </div>
        <div
          class="link"
          routerLink="/admin/curriculum"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">event_note</mat-icon>
          <span>Curriculum</span>
        </div>
        <div
          class="link"
          routerLink="/admin/professor"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">man_4</mat-icon>
          <span>Professor</span>
        </div>
        <div
          class="link"
          routerLink="/admin/section"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">safety_divider</mat-icon>
          <span>Section</span>
        </div>
        <div
          class="link"
          routerLink="/admin/room"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">meeting_room</mat-icon>
          <span>Room</span>
        </div>
        <div
          class="link"
          routerLink="/admin/schedule"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">event_available</mat-icon>
          <span>Class Schedule</span>
        </div>
        <div
          class="link"
          routerLink="/admin/student"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">man</mat-icon>
          <span>Student</span>
        </div>
        <div
          class="link"
          routerLink="/admin/parent"
          routerLinkActive="mobile-link-active"
        >
          <mat-icon class="material-icons-outlined">escalator_warning</mat-icon>
          <span>Parent</span>
        </div>
      </div>
    </nav>
  </div>

  <div class="main-container">
    <header>
      <div class="left-nav">
        <div class="menu-icon" (click)="openMobileNav()">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="location">
          <mat-icon class="material-icons-outlined">event_note</mat-icon
          >Curriculum
        </div>
      </div>
      <div class="right-nav">
        <div class="notif">
          <div (click)="toggleShowNotifications()">
            <mat-icon class="material-icons-outlined">notifications</mat-icon>
          </div>
          <div
            class="notification-container"
            [class.notification-active]="isShowNotifications"
          >
            <div class="border"></div>
            <div class="notifs">
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
              <div class="notification">
                <mat-icon class="material-icons-outlined"
                  >notifications</mat-icon
                >
                <div class="message">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maiores odio autem libero consequuntur enim culpa temporibus
                  voluptatibus, dicta nesciunt consequatur.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="avatar" (click)="toggleShowDropdown()">
            <div class="img">
              <img
                src="../../../../assets/images/itachi.jpg"
                alt="Profile Image"
              />
            </div>
          </div>
          <div class="name">
            <div class="type">
              <span>Simon James Villarin</span>
              <div class="role">Admin</div>
            </div>
            <div (click)="toggleShowDropdown()">
              <mat-icon
                fontIcon="expand_more"
                class="arrow-down"
                [class.arrow-down-active]="isShowDropdown"
              ></mat-icon>
            </div>
          </div>

          <div class="dropdown" [class.dropdown-active]="isShowDropdown">
            <div class="border"></div>
            <div class="dropdown-links">
              <div class="dropdown-link">
                <mat-icon class="material-icons-outlined">person</mat-icon
                ><span>Profile</span>
              </div>
              <div class="dropdown-link">
                <mat-icon class="material-icons-outlined">logout</mat-icon
                ><span>Logout</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>
  </div>
</div>
